/* Import Fonts From Google Fonts */
/* Montez - Titles */
/* Roboto - General Text */
@import url('https://fonts.googleapis.com/css2?family=Montez&family=Roboto:ital,wght@0,300;0,500;1,300;1,500&display=swap');

/* Global CSS */
body{
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Montez', cursive;
}
.title h1{
    color: rgb(245,41,135);
}

.text-shadow{
    text-shadow: 2px 2px rgb(0,0,0);
}
.text-shadow:hover{
    text-shadow: 1px 1px rgb(0,0,0);
}

.logo img{
    max-width:250px;
}
.home-nav-buttons{
    margin-bottom:25px;
}

.home-icons{
    min-width:200px;
    background-color: rgb(245,41,135);
    color: rgb(179,229,252);
    transition: all 0.5s ease-in-out;
    font-weight: 500;
}
.home-icons:hover{
    min-width:200px;
    background-color: rgb(179,229,252);
    color: rgb(245,41,135);
}
