/* Import Fonts From Google Fonts */
/* Montez - Titles */
/* Roboto - General Text */
@import url('https://fonts.googleapis.com/css2?family=Montez&family=Roboto:ital,wght@0,300;0,500;1,300;1,500&display=swap');

/*--------------------------------------------------------------- Color vars */
/*-Main Backgrounds-*/
:root {
  --first: rgb(245,41,135);
  --second: rgb(179,229,252);
  --third: rgb(234,128,252);
  --black: rgb(0,0,0);
}

/*----------------------------------------------------------------- Global CSS */
body{
    background-image: url(../img/wood.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: var(--black);
    min-height:100vh;
}

::placeholder{
    color: black;
    /* Opacity 1 for firefox users */
    opacity: 1;
    font-style: italic;
}

h1,
h2,
h3{
    font-family: 'Montez', cursive;
}

.no-margin{
    margin:0;
}
.see-through{
    background: transparent;
}
img{
    max-width: 90vw;
}
.hidden{
    display:none;
}
.title h1{
    color: var(--first);
}

.text-shadow{
    text-shadow: 2px 2px var(--third);
}

.spacer{
    margin-top:20px;
}
.hidden{
    visibility: hidden;
}

/*------------Borders--------*/
.border{
    -webkit-box-shadow: 3px 3px 5px 6px var(--third);  
    -moz-box-shadow: 3px 3px 5px 6px var(--third);  
    box-shadow: 3px 3px 5px 6px var(--third); 
    transition: all 1s ease-in-out;
}

.round-border{
    border-radius: 50%;
    background: linear-gradient(90deg, var(--third), var(--second), var(--third));
}
.round-corners{
    border-radius: 30%;
}
.round-image{
    border-radius: 50%;
}
.soft-corners{
    border-radius: 5px;
}
.margin-top{
    margin-top:150px;
}
.border-shadow{
    -webkit-box-shadow: 3px 3px 5px 5px #000;
    -moz-box-shadow: 3px 3px 5px 5px #000;
    box-shadow: 3px 3px 5px 5px #000;
    transition: all 1s ease-in-out;
}
.border-shadow:hover{
    -moz-box-shadow: inset 1px 1px 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow: inset 5px 5px 10px #000000;
}
/*--------------------------------------------------------------- Alignment */
.flex-justify{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/*---------------------------------------------------------------- Flashes */
.flashes h4{
    font-size:200%;
    line-height: 2;
    color: var(--first);
    border-radius: 20%;
}
/*---------------------------------------------------------------- Divs */
.custom-short-div{
    width: 75px;
    height: 5px;
    background-color: var(--first);
    text-shadow: var(--third);
}
/*-----------------------------------------------------------------Homepage */

.welcome{
    font-size: 500%;
}
.welcome-card img{
    height:250px;
}
.about-ripe-expanded img{
    margin-top:5%;
    min-height:250px;
    max-height: 350px;
    max-width: 100%;
    opacity: 0.7;
    z-index:-1;
}
.about-ripe-expanded p{
    font-size: 125%;
    line-height: 3;
    z-index: 2;
}
/*-----------------------------------------------------------------Navbar */
.fa-bars{
    font-size: 300%;
    color: var(--first);
    margin-top:25px;
    margin-right:25px;
}
.nav-logo img{
    height:95px;
    margin-top:15px;
    margin-left:25px;
}
.custom-nav{
    width:100%;    
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.custom-nav h3{
    color: #000;
    text-shadow: 2px 2px var(--third);
    font-weight: 500;
}

.secondary-nav{
    color: #000;
    text-shadow: 2px 2px var(--third);
    font-weight: 500;
    font-size:110%;
}

.secondary-sub-nav{
    color: #000;
    text-shadow: 2px 2px var(--third);
    font-weight: 500;
    font-size:90%;
}
.custom-sidenav div{
    margin-top:30px;
    margin-bottom:15px;
}

/*----------------------------------------------------------------------------------------User Profile */
#prof_pic{
    width: 75%;
    margin-top:25px;
    margin-left:25px;
}
.prof-top-card{
    height:300px;
}
/*---------------------------------------------------------------------------------------- Recipes */
.recipe-pic{
    width:100%;
    overflow: hidden;
    border-radius: 30%;
}
.category-card{
    overflow: hidden;
    text-decoration: none;
    color: #000;
    margin-bottom:20px;
}
.category-card img{
    max-width:100%;
    max-height: 100%;
}
.recipe-image{
    max-width:100%;
    height:100%;
    padding:15px;
}
.top-recipe-card{
    padding:15px;
    height: 425px;
    overflow: hidden;
}
.top-recipe-card p{
    padding:15px 15px 15px 25px;
    width:90%;
}

/*---------------------------------------------------------------------------------------- Store */

.product-card{
    min-height: 100px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.product-card-info{
    padding-top: 15px;
    padding-bottom: 15px;
}


/*---------------------------------------------------------------------------------------- About Page */

.about-card{
    height:300px;
}

.car-holder{
    height:auto;
}

.about-video video{
    width:90%;
    border-radius: 5%;
    margin:20px;
}
/*---------------------------------------------------------------------------------------- Footer */
footer{
    position: relative;
    width:100%;
    list-style: none;
}
.footer-content{
    min-height: 180px;
}
footer a{
    color:#000;
    text-decoration: none;
}