/* Import Fonts From Google Fonts */
/* Montez - Titles */
/* Roboto - General Text */
@import url('https://fonts.googleapis.com/css2?family=Montez&family=Roboto:ital,wght@0,300;0,500;1,300;1,500&display=swap');

/*--------------------------------------------------------------- Color vars */
/*-Main Backgrounds-*/
:root {
  --first: rgb(245,41,135);
  --second: rgb(179,229,252);
  --third: rgb(234,128,252);
  --black: rgb(0,0,0);
}

/*----------------------------------------------------------------- Global CSS */
body{
    background: radial-gradient(var(--second), var(--first));
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: var(--black);
    min-height:100vh;
}

h1,
h2,
h3{
    font-family: 'Montez', cursive;
}
img{
    max-width: 90vw;
}

.title h1{
    color: var(--first);
}

.text-shadow{
    text-shadow: 2px 2px var(--third);
}

.spacer{
    margin-top:20px;
}
.border{
    -webkit-box-shadow: 3px 3px 5px 6px var(--third);  
    -moz-box-shadow: 3px 3px 5px 6px var(--third);  
    box-shadow: 3px 3px 5px 6px var(--third); 
    transition: all 1s ease-in-out;
}

.round-border{
    border-radius: 50%;
    background: linear-gradient(90deg, var(--third), var(--second), var(--third));
}
.round-corners{
    border-radius: 30%;
}
.round-image{
    border-radius: 50%;
}
.soft-corners{
    border-radius: 15%;
}
.margin-top{
    margin-top:250px;
}
.flex-justify{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/*---------------------------------------------------------------- Flashes */
.flashes h4{
    font-size:200%;
    line-height: 2;
    color: var(--first);
    border-radius: 20%;
}
/*---------------------------------------------------------------- Divs */
.custom-short-div{
    width: 75px;
    height: 5px;
    background-color: var(--first);
    text-shadow: var(--third);
}
/*-----------------------------------------------------------------Homepage */
.logo img{
    max-width:250px;
}
.home-nav-buttons{
    margin-bottom:25px;
}
.no-user-home{
    position: absolute;
    top:0;
    background:url("../img/home-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height:99vh;
    width: 100vw;
    margin:0;
    padding:0;
}

.home-icons{
    min-width:200px;
    background-color: var(--first);
    color: var(--second);
    transition: all 0.5s ease-in-out;
    font-weight: 500;
}

.home-icons:hover{
    min-width:200px;
    background-color: var(--second);
    color: var(--first);
}
/*-----------------------------------------------------------------Navbar */
.fa-bars{
    font-size: 300%;
    color: var(--first);
    margin-top:25px;
    margin-right:25px;
}
.nav-logo img{
    height:95px;
    margin-top:15px;
    margin-left:25px;
}
.custom-nav{
    width:100%;    
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.custom-nav h3{
    color: #000;
    text-shadow: 2px 2px var(--third);
    font-weight: 500;
}

.secondary-nav{
    color: #000;
    text-shadow: 2px 2px var(--third);
    font-weight: 500;
    font-size:110%;
}

.secondary-sub-nav{
    color: #000;
    text-shadow: 2px 2px var(--third);
    font-weight: 500;
    font-size:90%;
}
.custom-sidenav div{
    margin-top:30px;
    margin-bottom:15px;
}

/*----------------------------------------------------------------------------------------User Profile */
#prof_pic{
    width: 75%;
    margin-top:25px;
    margin-left:25px;
}
.prof-top-card{
    height:300px;
}
/*---------------------------------------------------------------------------------------- Recipes */
.category-card img{
    border-radius: 50%;
    height:125px;
}
.category-card{
    margin-bottom: 50px;
    text-decoration: none;
    color:black;
}

/*---------------------------------------------------------------------------------------- Store */

.product-card{
    min-height: 100px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.product-card-info{
    padding-top: 15px;
    padding-bottom: 15px;
}


/*---------------------------------------------------------------------------------------- About Page */

.about-card{
    height:300px;
}

.car-holder{
    height:auto;
}

/*---------------------------------------------------------------------------------------- Footer */
footer{
    position: relative;
    width:100%;
    list-style: none;
}
.footer-content{
    min-height: 180px;
}
footer a{
    color:black;
    text-decoration: none;
}