{% extends "base.html" %}
{% block main_content %}


<!--Fullpage Wrapper-->
    <div class="homeWrapper">
        <div class="row">
            <div class="col s12 center-align">
                <h1>Hmm... This Page Doesn't Exist!</h1>
                <h2>Please use the navigation bar above to navigate back to a valid page.</h2>
                <img src="{{url_for('static', filename='img/logo.png')}}" alt="Logo image">
            </div>
        </div>
    </div>       
                
{% endblock %} 
