{% extends "base.html" %}
{% block main_content %}


        <div class="row center-align">
            <div class="col s12 m6 offset-m3 center-align">
                <div class="card light-blue lighten-4">
                    <div class="card-content pink-text">
                        <h2>About Ripe Recipe</h2>
                        <p><strong>Ripe recipes is a free to use online cookbook. Here you can browse, add or search for your favorite recipes.</strong></p>
                        <p><strong>We also have a great selection of cooking products that we can deliver directly to your door!</strong></p>
                    </div>
                </div>
            </div>
        </div>    

    


{% endblock %}