{% extends "base.html" %}
{% block main_content %}

        <div class="row containAbout soft-corners border">
            <!--Main Section-->
            <div class="glass"></div>
                <div class="row welcome-card">
                    <div class="col s12 l6 welcome-message center-align">
                        <h1>About Ripe Recipes</h1>
                        <h3>The Culinary Social Platform</h3>
                        <div class="row">
                            <button class="btn col s8 offset-s2 center-align">
                                Our Values
                            </button>
                        </div>
                        <div class="row">
                            <button class="btn col s8 offset-s2 center-align">
                                The Ripe Promise
                            </button>
                        </div>
                        <div class="row">
                            <button class="btn col s8 offset-s2 center-align">
                                Our Database
                            </button>
                        </div>
                        <div class="row">
                            <button class="btn col s8 offset-s2 center-align">
                                The Ripe Store
                            </button>
                        </div>
                    </div>
                    <div class="col s12 l6 welcome-image center-align">
                        <img src="{{ url_for('static', filename='img/front.png') }}" alt="">
                    </div>
                </div>
        </div>
{% endblock %}