{% extends "base.html" %}
{% block main_content %}


<!--Page Wrapper-->


    <div class="row">
        <div class="col s12 m4 offset-m4">
            <h1 id="addHeading" class="center-align black-text text-lighten-2 border">Adding A Recipe</h1>
        </div>
    </div>
    <hr class="custom-short-div center-align">
<!--Card to hold the recipe form-->
    <div class="row">
        <div class="col s12 m6 offset-m3 center-align haze border" id="addRecipeIntro">
            <p>
                You will soon begin adding a recipe to the database, <br>
                on each page, you will be presented with input fields and <br>
                Information on how to correctly add a recipe to the database.
            </p>
            <p>
                The final step will show a preview of your post, please review this, <br>
                and make any changes prior to submitting your recipe.
            </p>
            <a class="btn" id="showFirstCard">Next Step</a>
        </div>
        <form method="POST" action="{{ url_for('newrecipe') }}">
            <!--All "Pages Of Recipe Added In Divs-->
            <!--Card One-->
            <div class="col s10 offset-s1 haze center-align" id="firstAddCard">
                <h3>Please Select The Type Of Recipe You Wish To Add:</h3>
                <hr>
                <div class="input-field col m10 offset-m1">
                    <select name="category" id="category">
                        <option value="starter">Starter</option>
                        <option value="main">Main</option>
                        <option value="dessert">Dessert</option>
                        <option value="drink">Drinks</option>
                    </select>
                    <label for="category" class="black-text">Select A Recipe Category</label>
                    <span class="helper-text" data-error="Please Select A Difficulty Level" data-success="Input Correct"></span>
                </div>
                <a class="btn" id="showSecondCard">Next Step</a>
            </div>
            <!--Card Two-->
            <div class="col s10 offset-s1 haze center-align" id="secondAddCard">
                <h3>Please Provide The Following Information</h3>
                <p>Please Note That Name Can Contain Letters & Numbers, But "Serves" Can Only Accept Numbers.</p>
                <hr>
                <div class="input-field col l5 offset-l1 m10 offset-m1 s12">
                    <i class="fas fa-signature prefix pink-text"></i>
                    <input id="recipe_name" name="recipe_name" type="text" pattern="^[a-zA-Z0-9_.-]*{5,100}$" minlength="5" maxlength="50" class="validate">
                    <label class="black-text" for="recipe_name">Recipe Name</label>
                    <span class="helper-text" data-error="Input incorrect, Please enter 5 to 100 characters (letters & numbers)" data-success="Input Correct"></span>
                </div>
                <div class="input-field col l5 m10 offset-m1 s12">
                    <i class="far fa-question-circle prefix pink-text"></i>
                    <input id="serves" name="serves" type="number" minlength="1" maxlength="4" pattern="^[0-9]{1,4}$" class="validate">
                    <label class="black-text" for="serves">Serves</label>
                    <span class="helper-text" data-error="Input incorrect, This Field Only Accepts Numbers" data-success="Input Correct"></span>
                </div>
                <a class="btn" id="backToFirst">Previous</a>
                <a class="btn" id="showThirdCard">Next Step</a>
            </div>
            <!--Card Three-->
            <div class="col s10 offset-s1 haze center-align" id="thirdAddCard">
                <h3>Please Provide The <span id="inText"></span> Time For Your Recipe</h3>
                <hr>
                <div class="input-field col l5 offset-l1 m10 offset-m1">
                    <i class="fas fa-stopwatch prefix pink-text"></i>
                    <input id="prep_time" name="prep_time" type="number" minlength="1" maxlength="3" pattern="^[0-9]{1,3}$" class="validate">
                    <label class="black-text" for="prep_time">Prep Time (In Minutes)</label>
                    <span class="helper-text" data-error="Input incorrect, This Field Only Accepts Numbers" data-success="Input Correct"></span>
                </div>
                <div class="input-field col l5 m10 offset-m1" id="cook">
                    <i class="far fa-clock prefix pink-text"></i>
                    <input id="cook_time" name="cook_time" type="number" minlength="1" maxlength="5" pattern="^[0-9]{1,5}$" class="validate">
                    <label class="black-text" for="cook_time">Cooking Time (In Minutes)</label>
                    <span class="helper-text" data-error="Input incorrect, This Field Only Accepts Numbers" data-success="Input Correct"></span>
                </div>
                <div class="row" id="spacer">
                </div>
                <a class="btn" id="backToSecond">Previous</a>
                <a class="btn" id="showFourthCard">Next Step</a>
            </div>
            <!--Card Four-->
            <div class="col s10 offset-s1 haze center-align" id="fourthAddCard">
                <h3>Provide A Difficulty Rating For Your Recipe & Add A Photo</h3>
                <hr>
                <div class="input-field col m10 offset-m1">
                    <select name="difficulty" id="difficulty">
                        <option selected value="easy">Easy</option>
                        <option value="medium">Medium</option>
                        <option value="hard">Hard</option>
                    </select>
                    <label for="difficulty" class="black-text">Select a Difficulty</label>
                    <span class="helper-text" data-error="Please Select A Difficulty Level" data-success="Input Correct"></span>
                </div>
<!--Needs To Be Worked On To Drop Picture-->
                <div class="input-field col s10 offset-s1">
                    <i class="far fa-image prefix pink-text"></i>
                    <input id="recipe_pic" name="recipe_pic" type="text" class="validate">
                    <label class="black-text" for="recipe_pic">Picture (From URL)</label>
                    <span class="helper-text" data-error="Input incorrect, This Field Only Accepts Numbers & Characters" data-success="Input Correct"></span>
                </div>
                <div class="col s12 center-align">
                    <button class="btn" id="renderImage">Show Image</button>
                    <div class="col s12" id="showPic">
                        <img id="userImg" src="" alt="your recipe picture">
                    </div>
                </div>
                <a class="btn" id="backToThird">Previous</a>
                <a class="btn" id="showFifthCard">Next Step</a>
            </div>
            <!--Card Five-->
            <div class="col s10 offset-s1 haze center-align" id="fifthAddCard">
                <h3>Please Provide The Required Ingredients For Your Recipe.</h3>
                <p>Please Seperate All Ingredients With A Full Stop (i.e "1 Carrott. 2 Onions.")</p>
                <hr>
                <div class="input-field col s10 offset-s1">
                    <i class="far fa-question-circle prefix pink-text"></i>
                    <input id="ingredients" name="ingredients" type="text" pattern="^[a-zA-Z0-9_.-]*{5,1500}$" minlength="5" maxlength="1500" class="validate">
                    <label class="black-text" for="ingredients">Ingredients, Seperate Ingredients With Full Stop (.)</label>
                    <span class="helper-text" data-error="Input incorrect, This Field Only Accepts Numbers & Characters" data-success="Input Correct"></span>
                </div>
                <a class="btn" id="backToFourth">Previous</a>
                <a class="btn" id="showSixthCard">Next Step</a>
            </div>
            <!--Card Six-->
            <div class="col s10 offset-s1 haze center-align" id="sixthAddCard">
                <h3>Please Provide A Description Of Your Recipe</h3>
                <p>This input can accept numbers, letters, a full stop and hyphens. No more than 500 characters is allowed.</p>
                <hr>
                <div class="input-field col s10 offset-s1">
                    <i class="fas fa-comment-dots pink-text prefix"></i>
                    <input id="description" name="description" type="text" pattern="^[a-zA-Z0-9_.-]*{5,1500}$" minlength="5" maxlength="1500" class="validate" required>
                    <label class="black-text" for="description">Description of Recipe</label>
                    <span class="helper-text" data-error="Input incorrect, This Field Only Accepts Numbers & Characters" data-success="Input Correct"></span>
                </div>
                <a class="btn" id="backToFifth">Previous</a>
                <a class="btn" id="showSeventhCard">Next Step</a>
            </div>
            <!--Card Seven-->
            <div class="col s10 offset-s1 haze center-align" id="seventhAddCard">
                <h3>Please Provide Instructions To Make Your Recipe</h3>
                <p>Please write sentences, making sure to add a full stop between instructional steps.</p>
                <hr>
                <div class="input-field col s10 offset-s1">
                    <i class="fas fa-tasks prefix pink-text"></i>
                    <input id="instructions" name="instructions" type="text" pattern="^[a-zA-Z0-9_.-]*{5,2500}$" minlength="5" maxlength="2500" class="validate" required>
                    <label class="black-text" for="instructions">Instructions after each step use the full stop (.)</label>
                    <span class="helper-text" data-error="Input incorrect, This Field Only Accepts Numbers & Characters" data-success="Input Correct"></span>
                </div>
                <a class="btn" id="backToSixth">Previous</a>
                <a class="btn" id="showEigthCard">Next Step</a>
            </div>
            <!--Card Eight-->
            <div class="col s10 offset-s1 haze center-align" id="eigthAddCard">
                <h3>If Known, Please Add Nutritional Information</h3>
                <hr>
                <div class="input-field col s4">
                    <input id="kcal" name="kcal" type="number" minlength="1" maxlength="10" pattern="^[0-9]{1,10}$" class="validate">
                    <label class="black-text" for="kcal">KCAL</label>
                    <span class="helper-text" data-error="Input incorrect, This Field Only Accepts Numbers" data-success="Input Correct"></span>
                </div>
                <div class="input-field col s4 offset-s2">
                    <input id="fat" name="fat" type="number" minlength="1" maxlength="10" pattern="^[0-9]{1,10}$" class="validate">
                    <label class="black-text" for="fat">Fat (grams)</label>
                    <span class="helper-text" data-error="Input incorrect, This Field Only Accepts Numbers" data-success="Input Correct"></span>
                </div>
                <div class="input-field col s4">
                    <input id="saturates" name="saturates" type="number" minlength="1" maxlength="10" pattern="^[0-9]{1,10}$" class="validate">
                    <label class="black-text" for="saturates">Saturates (grams)</label>
                    <span class="helper-text" data-error="Input incorrect, This Field Only Accepts Numbers" data-success="Input Correct"></span>
                </div>
                <div class="input-field col s4 offset-s2">
                    <input id="carbs" name="carbs" type="number" minlength="1" maxlength="10" pattern="^[0-9]{1,10}$" class="validate">
                    <label class="black-text" for="carbs">Carbs (grams)</label>
                    <span class="helper-text" data-error="Input incorrect, This Field Only Accepts Numbers" data-success="Input Correct"></span>
                </div>
                <div class="input-field col s4">
                    <input id="sugar" name="sugar" type="number" minlength="1" maxlength="10" pattern="^[0-9]{1,10}$" class="validate">
                    <label class="black-text" for="sugar">Sugar (grams)</label>
                    <span class="helper-text" data-error="Input incorrect, This Field Only Accepts Numbers" data-success="Input Correct"></span>
                </div>
                <div class="input-field col s4 offset-s2">
                    <input id="fibre" name="fibre" type="number" minlength="1" maxlength="10" pattern="^[0-9]{1,10}$" class="validate">
                    <label class="black-text" for="fibre">Fibre (grams)</label>
                    <span class="helper-text" data-error="Input incorrect, This Field Only Accepts Numbers" data-success="Input Correct"></span>
                </div>
                <div class="input-field col s4">
                    <input id="protein" name="protein" type="number" minlength="1" maxlength="10" pattern="^[0-9]{1,10}$" class="validate">
                    <label class="black-text" for="protein">Protein (grams)</label>
                    <span class="helper-text" data-error="Input incorrect, This Field Only Accepts Numbers" data-success="Input Correct"></span>
                </div>
                <div class="input-field col s4 offset-s2">
                    <input id="salt" name="salt" type="number" minlength="1" maxlength="10" pattern="^[0-9]{1,10}$" class="validate">
                    <label class="black-text" for="salt">Salt (grams)</label>
                    <span class="helper-text" data-error="Input incorrect, This Field Only Accepts Numbers" data-success="Input Correct"></span>
                </div>
                <a class="btn" id="backToSeventh">Previous</a>
                <a class="btn" id="showNinthCard">Next Step</a>
            </div>
            <!--Card Nine-->
            <div class="col s10 offset-s1 haze center-align" id="ninthAddCard">
                <h3>Please Provide Tags For Your Recipe</h3>
                <p>This will assist other users with finding your recipe.</p>
                <div class="input-field col s10 offset-s1">
                    <i class="fas fa-tags prefix pink-text"></i>
                    <input id="tags" name="tags" type="text" minlength="5" pattern="^[a-zA-Z0-9_.-]*{,500}$" maxlength="500" class="validate" required>
                    <label class="black-text" for="tags">Tags For This Recipe (i.e "Chicken", "Fish")</label>
                    <span class="helper-text" data-error="Input incorrect, This Field Only Accepts Numbers & Characters" data-success="Input Correct"></span>
                </div>
                <a class="btn" id="backToEigth">Previous</a>
                <a class="btn" id="showTenthCard">Next Step</a>
            </div>
            <!--Card Ten-->
            <div class="col s10 offset-s1 haze center-align" id="previewCard">
                <h3>Please Review Your Information:</h3>
                <div class="row border">
                    <div class="col s6 right-align">
                        <p>Recipe Type:</p>
                    </div>
                    <div class="col s6 left-align">
                        <p id="previewType"></p>
                    </div>
                </div>
                <div class="row border">
                    <div class="col s6 right-align">
                        <p>Name: </p>
                    </div>
                    <div class="col s6 left-align">
                        <p id="previewName"></p>
                    </div>
                </div>
                <div class="row border">
                    <div class="col s6 right-align">
                        <p>Description: </p>
                    </div>
                    <div class="col s6 left-align">
                        <p id="previewDescription"></p>
                    </div>
                </div>
                <div class="row border">
                    <div class="col s6 right-align">
                        <p>Serves: </p>
                    </div>
                    <div class="col s6 left-align">
                        <p><span id="previewServes"></span> People</p>
                    </div>
                </div>
                <div class="row border">
                    <div class="col s6 right-align">
                        <p>Time: </p>
                    </div>
                    <div class="col s6 left-align">
                        <p>Prep Time: <span id="previewPrep"></span> minutes<br><span id="previewCook"></span><br></p>
                    </div>
                </div>
                <div class="row border">
                    <div class="col s6 right-align">
                        <p>Difficulty: </p>
                    </div>
                    <div class="col s6 left-align">
                        <p id="previewDifficulty"></p>
                    </div>
                </div>
                <div class="row border">
                    <div class="col s6 right-align">
                        <p>Ingredients: </p>
                    </div>
                    <div class="col s6 left-align">
                        <p id="previewIngredients"></p>
                    </div>
                </div>
                <div class="row border">
                    <div class="col s6 right-align">
                        <p>Instructions: </p>
                    </div>
                    <div class="col s6 left-align">
                        <p id="previewInstructions"></p>
                    </div>
                </div>
                <div class="row border">
                    <div class="col s12 center-align">
                        <p>Nutrition: </p>
                    </div>
                    <div class="col s12 center-align">
                        <p id="previewNutrition"></p>
                    </div>
                </div>
                <div class="row border">
                    <div class="col s12 center-align">
                        <p>Tags: </p>
                    </div>
                    <div class="col s12 center-align">
                        <p id="previewTags"></p>
                    </div>
                </div>
                <div class="row border center-align" id="previewPic">
                    <h3>Image Preview:</h3>
                    <img class="col s12 center-align" id="previewImg" src="" alt="Preview Recipe Image">
                    <input type="text" name="madeBy" id="madeBy" value="{{user._id}}" class="hidden">
                </div>
                <a class="btn" id="backToTenth">Previous</a>
                <input type="submit" id="submitRecipe" class="btn" value="Submit" method="post">
            </div>

       </form>
    </div>


{% endblock %}
{% block scripts %}
    <!--Add Recipe Script-->
    <script src="{{ url_for('static', filename='js/addRecipe.js') }}"></script>
{% endblock %}