{% extends "base.html" %}
{% block main_content %}

    {% for x in user %}
        {% if x.is_admin == "True" %}
        <!--User is an admin -->
            <div class="row center-align">
                <div class="col m4 offset-m4 s8 offset-s2 center-align border soft-corners">
                    <h1>Admin Panel</h1>
                </div>
            </div>
            <div class="row center-align">
                {% for tickets in Queries %}
                    <!--Print All Tickets-->
                    {% if tickets.reply|length != 0 %}
                        <!--Needs Reply-->
                        <div class="col s6 m4 center-align border red">
                            Ticket
                        </div>
                    {% elif tickets.reply|length == 0 %}
                        <!--Replied-->
                        <div class="col s6 m4 center-align border green">
                            Ticket
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
<!------------------------------------------------------------------------------------------------------------->
        {% elif x.is_admin == "" or x.is_admin != "True" %}
        <!--User is not an admin-->
            
        {% endif %}
    {% endfor %}

{% endblock %}