{% extends "base.html" %}
{% block main_content %}
   
    {% for check in user %}
    {% if check.is_admin == true %}
    <div class="row">
        <div class="col s12 center-align">
            <h2>Welcome To The Admin Panel</h2>
            <hr>
        </div>
    </div>
<!--Notice-->
    <div class="row">
        <div class="col s10 offset-s1 center-align">
            <p>Tickets in <span class="green black-text">Green</span> have been replied to.</p>
            <p>Tickets in <span class="red black-text">Red</span> have been replied to.</p>
        </div>
    </div>
<!--Tickets-->
    {% for tickets in Queries %}
        <!--Open Tickets-->
        {% if tickets.reply|length == 0 %}
        <div class="row openTickets">
            <div class="col s6 m4 red">
                <div class="row center-align">
                    <h3>{{tickets.query_type|capitalize}} Issue</h3>
                    <hr>
                    <p>From: {{tickets.submit_by}}<br>On: {{tickets.ticket_opened}}</p>
                </div>
                <div class="row center-align">
                    <a href="#{{tickets._id}}" class="btn modal-trigger col s10 offset-s1 m8 offset-m2">View</a>
                    <!--Modal View-->
                    <div id="{{tickets._id}}" class="modal">
                        <div class="modal-content">
                            <h4>{{tickets.query_type|capitalize}} Issue</h4>
                            <p>Ticket Opened On {{tickets.ticket_opened}} By {{tickets.submit_by|capitalize}}</p>
                            <p>Description: {{ tickets.description }}</p>
                            <p>Reply: {{ tickets.reply }}</p>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-close red btn-flat">Close</a>
                            <a href="#edit{{tickets._id}}" class="modal-close modal-trigger green btn-flat">Edit</a>
                        </div>
                    </div>
                    <!--Modal Edit-->
                    <div id="edit{{tickets._id}}" class="modal">
                        <div class="modal-content">
                            <h4>Reply To Ticket:</h4>
                            <p>Ticket Opened On {{tickets.ticket_opened}} By {{tickets.submit_by|capitalize}}</p>
                            <p>Description: {{ tickets.description }}</p>
                            <form method="POST">
                                    <i class="fas fa-reply prefix"></i>
                                    <input type="text" id="reply" name="reply" class="red validate" placeholder="abcd">
                                    <label for="reply">First Name</label>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-close red btn-flat">Close</a>
                            <a href="#!" class="modal-close modal-trigger green btn-flat">Edit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Closed Tickets-->
        {% else %}


        {% endif %}
    {% endfor %}
<!--End Tickets-->
    {% endif %}
    {% endfor %}      

{% endblock %}