{% extends "base.html" %}
{% block main_content %}


    <div class="row">
        <div class="col s12 m6 offset-m3">
            <h1 class="center-align pink-text text-lighten-2 border round-border">Cart</h1>
        </div>
    </div>
    <div class="row">
        <div class="col s10 offset-s1 m4 center-align blue border">
            <h3>My Cart Items:</h3>
            <p>a</p>
            <p>a</p>
            <p>a</p>
            <p>a</p>
        </div>
        <div class="col s10 offset-s1 m8 center-align blue border">
            <h3>Payment Information:</h3>
            <p>a</p>
            <p>a</p>
            <p>a</p>
            <p>a</p>
        </div>
    </div>


{% endblock %}