{% extends "base.html" %}
{% block style %}
<!--EmailJS Script-->
    <script src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>
    <script>
        (function() {
            emailjs.init("user_qzVjfCSbvhEce7QuYTh1Y");
        })();
    </script>
{% endblock %}
{% block main_content %}
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <h1 class="center-align black-text text-lighten-2 border haze">Contact Us</h1>
        </div>
    </div>
    <div class="row">
        <form class="col s12 m8 offset-m2 round" method="POST" onsubmit="sendMail(this)">
            <div class="card-panel haze border round-corners">
                <div class="row">
                    <div class="input-field col l5 offset-l1 m10 offset-m1">
                        <i class="fas fa-signature prefix pink-text text-lighten-2"></i>
                        <input id="name" name="name" type="text" minlength="2" maxlength="50" class="validate" required>
                        <label class="black-text" for="name">Name</label>
                        <span class="helper-text" data-error="Input Incorrect," data-success="Input Correct"></span>
                    </div>
                    
                    <div class="input-field col l5 m10 offset-m1">
                        <i class="fas fa-at prefix pink-text text-lighten-2"></i>
                        <input id="email" name="email" type="email" minlength="1" maxlength="70" class="validate" required>
                        <label class="black-text" for="email">Email Address</label>
                        <span class="helper-text" data-error="Input Incorrect, Please Enter A Valid Email" data-success="Input Correct"></span>
                    </div>

                    <div class="input-field col s10 offset-m1">
                        <i class="fas fa-comment-dots prefix pink-text text-lighten-2"></i>
                        <textarea id="message" name="message" class="materialize-textarea validate" minlength="4" maxlength="500" required></textarea>
                        <label for="message" class="black-text">Your Message...</label>
                        <span class="helper-text" data-error="This Field Must Not Be Blank, Or Contain Over 500 Characters" data-success="Input Correct"></span>
                    </div>
                    <div class="row">
                        <button type="submit" class="col s8 offset-s2 btn-large pink lighten-2 black-text text-shadow">
                            Send Message <i class="fas fa-sign-in-alt"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col s4 offset-s4 soft-corners border haze text-shadow">
            <p class="center-align larger-text">Please Note:</p>
            <p class="center-align">If you are a Ripe member, you can message admins via "tickets" on your profile page.</p>
        </div>
    </div>


{% endblock %}