{% extends "base.html" %}
{% block main_content %}


    <div class="row">
        <div class="col s12 m6 offset-m3">
            <h1 class="center-align black-text text-lighten-2 border round-border">Dessert Recipes:</h1>
        </div>
    </div>
    <div class="row">
        {% for desserts in dessert %}
        <div class="col s6 m2 offset-m1 grey lighten-2 soft-corners border center-align">
            <form  method="POST" action="{{ url_for('selected', name=desserts.recipe_name) }}">
                <h5>{{ desserts.recipe_name|capitalize }}</h5>
                <img class ="recipe-pic" src="{{ desserts.pic_url }}" alt="Recipe Picture">
                <p>{{ desserts.description }}</p>
                <input class="hidden" name="name" id="name" value="{{ desserts.recipe_name }}">
                <button type="submit" value="{{ desserts.recipe_name }}" class="col s12 btn-large green accent-3 black-text soft-corners">
                        View More
                </button>
            </form>
                
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col s10 offset-s1 center-align">
            <a href="{{ url_for('recipes') }}">Back to the categories?</a>
        </div>
    </div>


{% endblock %}