{% extends "base.html" %}
{% block main_content %}


    <div class="row">
        <div class="col s12 m6 offset-m3 center-align">
            <h1 class="center-align black-text text-lighten-2 border haze">Dessert Recipes:</h1>
            <p>Click any row to see a photo of the recipe. <br>Or click view more to view the full recipe.</p>
            <hr class="custom-short-div">
        </div>
    </div>
    <div class="row">
        <ul class="paginationTable">
            <!--Populate the contents-->
            {% for desserts in dessert %}
            <li class="tableItem">
                <div class="flip-card col s12 m4">
                    <div class="flip-card-inner col s12">
                        <div class="flip-card-front col s12 soft-corners">
                            <img src="{{desserts.pic_url}}" id="previewRecipePic" alt="Recipe Photo">
                            <div class="col s12 titleLayer">
                                <h3>{{ desserts.recipe_name|capitalize }}</h3>
                            </div>
                        </div>
                        <div class="flip-card-back col s12 soft-corners">
                            <div class="col s12 center-align haze border recipeHolder">
                                <div class="col s12 center-align seeMore">
                                    <!-- Modal Trigger -->
                                    <a class="btn modal-trigger col s5" href="#{{ desserts._id }}">Preview</a>
                                    <a href="{{ url_for('selected', name=desserts.recipe_name, id=desserts._id) }}" class="btn col s6 offset-s1">View Full</a>
                                </div>
                                <div class="col s12 center-align">
                                    <div class="col s12">
                                        <h6>{{ desserts.recipe_name|capitalize }}</h6>
                                        <hr class="custom-short-div">
                                    </div>
                                    <div class="col s12">
                                        <p>{{ desserts.description[:70]|capitalize }}...</p>
                                    </div>
                                    <div class="col s12">
                                        <p>Tags: {{ desserts.tags[:30]|capitalize }}...</p>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
                <!-- Modal Structure -->
                <div id="{{ desserts._id }}" class="modal">
                    <div class="modal-content center-align">
                        <h3>{{ desserts.recipe_name|capitalize }}</h3>
                        <hr class="custom-short-div">
                        <div class="col s12 m6 center-align">
                            <p>{{ desserts.description|capitalize }}</p>
                            <p>Difficulty: {{ desserts.difficulty|capitalize }}</p>
                            <p>Total Time To Make: {{desserts.prep_time|int + desserts.cooking_time|int}} Minutes</p>
                            <hr class="custom-short-div">
                            <table class="center-align">
                                <thead>
                                    <tr>
                                        <th>KCAL</th>
                                        <th>Fat</th>
                                        <th>Saturates</th>
                                        <th>Carbs</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{ desserts.kcal }}</td>
                                        <td>{{ desserts.fat }}</td>
                                        <td>{{ desserts.saturates }}</td>
                                        <td>{{ desserts.carbs }}</td>
                                    </tr>
                                    <tr>
                                        <th>Sugars</th>
                                        <th>Fibre</th>
                                        <th>Protein</th>
                                        <th>Salt</th>
                                    </tr>
                                    <tr>
                                        <td>{{ desserts.sugars }}</td>
                                        <td>{{ desserts.fibre }}</td>
                                        <td>{{ desserts.protein }}</td>
                                        <td>{{ desserts.salt }}</td>
                                    </tr>
                                </tbody>
                            </table>    
                        </div>
                        <div class="col s12 m6 overflowHidden center-align">
                            <img src="{{desserts.pic_url}}" alt="Recipe Picture">
                        </div>
                    </div>
                    <div class="modal-footer">
                        {% set id = desserts.id %}
                        <a href="{{ url_for('selected', name=desserts.recipe_name, id=desserts._id) }}" class="col s7 green lighten-2 btn-flat">View Full Recipe</a>
                        <a href="#!" class="col s5 modal-close red lighten-3 btn-flat">Close</a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
        <div class="col s12 center-align">
            <div id="pagination-container">
                <p class="paginacaoCursor center-align" id="beforePagination"> <i class="fas fa-chevron-left"></i> </p>
                <p class="paginacaoCursor center-align" id="afterPagination"> <i class="fas fa-chevron-right"></i> </p>
            </div> 
        </div>

    </div>
    <div class="row">
        <div class="col s10 offset-s1 center-align">
            <a href="{{ url_for('recipes') }}">Back to the categories?</a>
        </div>
    </div>


{% endblock %}

{% block scripts %}
    <!--Pagination Script-->
    <script src="{{ url_for('static', filename='js/pagination.js') }}"></script>
{% endblock %}