{% extends "base.html" %}
{% block main_content %}

    <div class="row">
        <div class="col s10 offset-s1 center-align">
            <h2>Whoops! It seems there is an issue with your credentials!</h2>
            <hr>
            <p>
                If you believe this is an error, please contact an admin from the contact form located
                on your profile page and we will get back to you as soon as we can!
            </p>
            <p>
                Reason For Denied Error: {{ message }}
            </p>
        </div>
    </div>

{% endblock %}