{% extends "base.html" %}
{% block hero %}

    <section id="hero" class="no-margin">
        <div class="video-container hide-on-small-only">
            <video autoplay loop muted class="video-bg" id="video-bg"> 
                <source src="{{ url_for('static', filename='vid/hero-video.webm') }}" type="video/webm" alt="HTML5 background video">
            </video>
        </div>
        <div class="header-content">
            <div class="col m6 s10 see-through">
                <h2 class="center-align">Welcome To Ripe Recipes</h2>
                <hr class="custom-short-div">
                <p class="center-align">
                    "Cooking is all about people. Food is maybe the only universal 
                    thing that really has the power to bring everyone together. No 
                    matter what culture, everywhere around the world, people eat together."<br>
                    - Guy Fieri
                </p>
            </div>
        </div>
    </section>
    
{% endblock %} 

{% block main_content %}
    <section>
        <div class="row" id="home-cards">
            <div class="col m4 s10 offset-s1 grey lighten-2 center-align round-corners home-cards">
                <h3>Community</h3>
                <hr class="custom-short-div">
                <i class="fas fa-globe-europe"></i>
                <br><br>
                <p>Our Community Contains Users From Across The Globe</p>
            </div>
            <div class="col m4 s10 offset-s1 grey lighten-2 center-align round-corners home-cards">
                <h3>Free</h3>
                <hr class="custom-short-div">
                <i class="fas fa-comment-dollar"></i>
                <br><br>
                <p>Our Services Are Absolutely Free! For All Users!</p>
            </div>
            <div class="col m4 s10 offset-s1 grey lighten-2 center-align round-corners home-cards">
                <h3>Recipes</h3>
                <hr class="custom-short-div">
                <i class="far fa-list-alt"></i>
                <br><br>
                <p>Our Database Contains Only User Generated Recipes.</p>
            </div>
        </div>
    </section>

    <div class="row">
        <div class="col s10 offset-s1 grey lighten-2 soft-corners">
            <h3 class="center-align">About Ripe Recipes</h3>
            <hr class="custom-short-div">
            <p class="center-align">
                Ripe is a completely free to use online cookbook and store.<br><br>
                Our recipe database is made entirely from user generated recipes from around the world.<br><br>
                As a user, you will only be able to view recipes, however, as a member, you can unlock all the features of Ripe as well as take part 
                in Ripe promotional offers where you may recieve vouchers and or discounts for our online store.<br>
                With That In Mind <a href="{{ url_for('signup') }}">Sign Up Here</a>
            </p>
        </div>
    </div>
{% endblock %} 