{% extends "base.html" %}
{% block main_content %}


    <div class="row">
        <div class="col s12 m6 offset-m3 center-align">
            <h1 class="center-align black-text text-lighten-2 border haze">Main Course Recipes:</h1>
            <p>Click any row to see a photo of the recipe. <br>Or click view more to view the full recipe.</p>
            <hr class="custom-short-div">
        </div>
    </div>
    <div class="row">
        <ul class="paginationTable">
            <!--Populate the contents-->
            {% for mains in main %}
            <li class="tableItem"><div class="flip-card col s12 m4">
                <div class="flip-card-inner col s12">
                    <div class="flip-card-front col s12 soft-corners">
                        <img src="{{mains.pic_url}}" id="previewRecipePic" alt="Recipe Photo">
                        <div class="col s12 titleLayer">
                            <h3>{{ mains.recipe_name|capitalize }}</h3>
                        </div>
                    </div>
                    <div class="flip-card-back col s12 soft-corners">
                        <div class="col s12 center-align haze border recipeHolder">
                            <div class="col s12 center-align seeMore">
                                <!-- Modal Trigger -->
                                <a class="btn modal-trigger col s5" href="#{{ mains._id }}">Preview</a>
                                <a href="{{ url_for('selected', name=mains.recipe_name, id=mains._id) }}" class="btn col s6 offset-s1">View Full</a>
                            </div>
                            <div class="col s12 center-align">
                                <div class="col s12">
                                    <h6>{{ mains.recipe_name|capitalize }}</h6>
                                    <hr class="custom-short-div">
                                </div>
                                <div class="col s12">
                                    <p>{{ mains.description[:70]|capitalize }}...</p>
                                </div>
                                <div class="col s12">
                                    <p>Tags: {{ mains.tags[:30]|capitalize }}...</p>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
            <!-- Modal Structure -->
            <div id="{{ mains._id }}" class="modal">
                <div class="modal-content center-align">
                    <h4>{{ mains.recipe_name|capitalize }}</h4>
                    <hr class="custom-short-div">
                    <p>{{ mains.description|capitalize }}</p>
                    <table>
                        <thead>
                            <tr>
                                <th>KCAL</th>
                                <th>Fat</th>
                                <th>Saturates</th>
                                <th>Carbs</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ mains.kcal }}</td>
                                <td>{{ mains.fat }}</td>
                                <td>{{ mains.saturates }}</td>
                                <td>{{ mains.carbs }}</td>
                            </tr>
                            <tr>
                                <th>Sugars</th>
                                <th>Fibre</th>
                                <th>Protein</th>
                                <th>Salt</th>
                            </tr>
                            <tr>
                                <td>{{ mains.sugars }}</td>
                                <td>{{ mains.fibre }}</td>
                                <td>{{ mains.protein }}</td>
                                <td>{{ mains.salt }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="overflowHidden center-align">
                        <img src="{{mains.pic_url}}" alt="Recipe Picture">
                    </div>
                </div>
                <div class="modal-footer">
                    {% set id = mains.id %}
                    <a href="{{ url_for('selected', name=mains.recipe_name, id=mains._id) }}" class="col s7 green lighten-2 btn-flat">View Full Recipe</a>
                    <a href="#!" class="col s5 modal-close red lighten-3 btn-flat">Close</a>
                </div>
            </div></li>
            {% endfor %}
        </ul>
        <div class="col s12 center-align">
            <div id="pagination-container">
                <p class="paginacaoCursor center-align" id="beforePagination"> <i class="fas fa-chevron-left"></i> </p>
                <p class="paginacaoCursor center-align" id="afterPagination"> <i class="fas fa-chevron-right"></i> </p>
            </div> 
        </div>

    </div>
    <div class="row">
        <div class="col s10 offset-s1 center-align">
            <a href="{{ url_for('recipes') }}">Back to the categories?</a>
        </div>
    </div>


{% endblock %}

{% block scripts %}
    <!--Pagination Script-->
    <script src="{{ url_for('static', filename='js/pagination.js') }}"></script>
{% endblock %}