{% extends "base.html" %}
{% block main_content %}

        {% for X in product %}
        <div class="row center-align">
            <div class="col s12 m4 border">
                <!--images-->
                <div class="col s12">
                    <!--Larger Image-->
                    <div class="row border soft-corners" id="largerImgDisplay">
                        <img src="{{X.photos[0]}}" alt="product image">
                    </div>
                    <!--Smaller Images-->
                    <div class="row">
                        <!--spacer col-->
                        <div class="col s1"></div>
                        {% for image in X.photos %}
                        <div class="col s2 smallProdImg">
                            <img src="{{image}}" alt="product image">
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <!--Price-->
                <div class="col s12 border soft-corners">
                    <h3>Price:</h3>
                    <p>$<em>{{X.price}}</em></p>
                    {% if session["user"] %}
                        <p><i class="far fa-check-circle"></i> <strong>Members Discount 10%</strong></p>
                        {% set newPrice = (X.price|float * 0.9)|string %}
                        <h5><strike class="red-text">${{X.price}}</strike> - <span>${{newPrice[:5]}}</span></h5>
                    {% endif %}
                        <!--Modal Trigger-->
                        <h4><a href="#{{X._id}}" class="btn modal-trigger">Add To Cart <i class="fas fa-cart-plus"></i></a></h4>
                        <!--Modal-->
                        <div id="{{X._id}}" class="modal">
                            <div class="modal-content light-blue lighten-4">
                                <h2>Confirmation:</h2>
                                <hr>
                                <h3>Add <span>{{X.name}}</span> To Cart?</h3>
                            </div>
                            <div class="modal-footer col s12 light-blue lighten-4">
                                <form method="POST" action="{{url_for('product', id=X._id)}}">
                                    <input type="text" name="id" id="id" class="hidden" value="{{X._id}}">
                                    <input type="text" name="name" id="name" class="hidden" value="{{X.name}}">
                                    <input type="text" name="price" id="price" class="hidden" value="{{X.price}}">
                                    <button type="submit" id="addToCart" name="addToCart" class="col s6 modal-close green btn-flat center-align">Yes</button>
                                </form>
                                <a href="#!" class="col s6 modal-close red btn-flat center-align">No</a>
                            </div>
                        </div>
                </div>
            </div>
                
            <div class="col s12 m7 offset-m1 border">
                <div class="col s12 border soft-corners">
                    <h1>{{X.name}}</h1>
                </div>
                <div class="col s12 soft-corners">
                        {%for item in X.about%}
                        <div class="col s10 offset-s1 center-align">
                            <p>{{item}}</p>
                        </div>
                        {%endfor%}
                </div>
            </div>
            
            
        </div>

    {% endfor %}


{% endblock %}