{% extends "base.html" %}
{% block main_content %}

{% if user == "" %}
            <div class="row">
                <div class="col s10 offset-s1 center-align">
                    <h2>It appears you are not logged in.</h2>
                    <h3><a href="{{url_for('login')}}" class="black-text">Login To Ripe</a></h3>
                </div>
            </div>
{% else %}

            <!--First Row-->
            <div class="row">
                <div class="col s12 m3 offset-m1 haze border prof-top-card" id="profImg">
                    <img id="prof_pic" src="{{ user.prof_pic }}" alt="Picture of {{ user.username }}">
                </div>
                <div class="col s12 m7 offset-m1 haze border prof-top-card soft-corners">
                    <a href="{{url_for('editUser')}}" class="btn center-align col s5 green accent-2 black-text profControls">Edit Profile</a>
                    <a href="#deleteProfile" class="btn modal-trigger center-align red col s5 offset-s2 accent-2 black-text profControls">Delete Profile</a>
                    <!--modal here-->
                    <div id="deleteProfile" class="modal">
                        <div class="modal-content">
                            <h4>Warning</h4>
                            <p>You Are About To Delete Your Profile</p>
                            <hr class="custom-short-div">
                            <p>Delete Your Profile?</p>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-close col s6 green btn">No</a>
                            <form method="POST" action="{{url_for('my_profile')}}">
                                <input type="text" id="profId" name="profId" class="hidden" value="{{user._id}}">
                                <input class="btn red col s6" type="submit" id="deleteProf" name="deleteProf" value="Yes">
                            </form>
                        </div>
                    </div>
                    <div class="col s12">
                        <h2>{{ user.username|capitalize }}</h2>
                        <p>Biography: {{ user.bio|capitalize }}</p>
                        <p>Number Of Recipes: {{ numOfRecipes }}</p>
                    </div>    
                </div>
            </div>
            <!--Second Row-->
            <div class="row">
                <div class="col s12 m6">
                    <div class="col m11 s12 haze border soft-corners" id="myRecipes">
                        <h3 class="center-align">My Recipes:</h3>
                        <div class="col s8">
                            <p>Name:</p>
                        </div>
                        <div class="col s4">
                            <p>View Recipe:</p>
                        </div>
                        <div class="col s12" id="Recipes">
                            {% for recipe in myrecipes %}
                                {% if recipe.created_by|string == myId|string %}
                                <div class="row">
                                    <div class="col s7 haze listRecipes">
                                        <p>{{ recipe.recipe_name|capitalize }}</p>
                                    </div>
                                    <div class="col s5 haze listRecipes center-align">
                                        <a class="btn" href="{{ url_for('selected', id=recipe._id) }}">View</a>
                                    </div>
                                </div>                            
                                {% elif myrecipes == "" %}
                                    <h5>There seems to be no recipes created by you</h5>
                                {% endif %}
                            {% endfor %}    
                        </div>
                    </div>
                </div>
<!--Saved Recipe Section-->
                <div class="col s12 m6">
                    <div class="col s12 haze border soft-corners" id="saveRecipes">
                        <h3 class="center-align">Saved Recipes:</h3>
                        <div class="col s12">
                            <div class="col s8">
                                <p>Name:</p>
                            </div>
                            <div class="col s4">
                                <p>View Recipe:</p>
                            </div>
                            <div class="col s12" id="savedRecipes">
                            {% for favorites in user.fav_recipes %}
                                <div class="row">
                                    <div class="col s7 haze listFavorites">
                                        <p>{{ favorites[0]|capitalize }}</p>
                                    </div>
                                    <div class="col s5 haze listFavorites center-align">
                                    {% set recipeID = favorites[1] %}
                                        <a class="btn" href="{{ url_for('selected', id=recipeID) }}">View</a>
                                    </div>
                                </div>   
                            {% endfor %}   
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <!--Admin Contact / Ticketing System-->
            <div class="row" id="thirdRowProfile">
                <!--Input Ticket-->
                <div class="col s12 m6">
                    <div class="col m11 s12 haze border center-align soft-corners" id="myTickets">
                        <h3>Help Center</h3>
                        <h6>Open A Ticket And Let Us Know</h6>
                        <div class="row">
                            <form method="POST" action="{{ url_for('my_profile') }}">
                                <div class="input-field col s10 offset-s1">
                                    <select id="query-type" name="query-type" required>
                                        <i class="fas fa-question prefix"></i> 
                                        <option value="account">Account Issue</option>
                                        <option value="profile">Profile Issue</option>
                                        <option value="recipe">Recipe Issue</option>
                                        <option value="other">Other Issue</option>
                                    </select>
                                    <label for="query-type" class="black-text">Query Type</label>
                                </div>
                                <div class="row">
                                    <div class="input-field col s10 offset-s1">
                                        <i class="fas fa-info prefix left"></i>
                                        <textarea id="detailsEnter" name="detailsEnter" class="materialize-textarea black-text" required></textarea>
                                        <label for="detailsEnter" class="black-text">Enter Details Of Issue Here...</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s10 offset-s1">
                                        <input type="submit" method="POST" name="newTicket" id="newTicket" class="col s12 btn-large green lighten-2" value="Submit Query">
                                    </div>
                                </div>
                            </form>
                        </div> 
                    </div>
                </div>
                
<!--User Messages Section-->
                <div class="col s12 m6">
                    <div class="col s12 haze border soft-corners" id="myMessages">
                        <h3 class="center-align">
                            Messages For You:
                        </h3>
                        <hr class="custom-short-div">
                        {% if messages %}
                        <!--Pagination Wrapper-->
                        <div class="row">
                            <div class="contents col s12">
                                <ul class="paginationTable">
                                    {% for message in messages %}
                                    {% if message.message_for|string == myId|string %}
                                        <li class="tableItem"><div class="row">
                                            <p class="col s10 offset-s1">
                                                Message From {{ message.message_from }} on {{ message.date }}<br>
                                                <a class="black-text modal-trigger" href="#{{ message.message_text[:30] }}">{{ message.message_text[:50] }}...</a>
                                            </p>
                                            <div id="{{ message.message_text[:30] }}" class="modal">
                                                <div class="modal-content">
                                                    <p>{{ message.message_text }}</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <a href="#!" class="modal-close btn-flat">Close</a>
                                                </div>
                                            </div>
                                        </div></li>
                                    {% endif %}
                                    {% endfor %} 
                                </ul>
                                <div class="col s12 center-align">
                                    <div id="pagination-container">
                                        <p class="paginacaoCursor center-align" id="beforePagination"> <i class="fas fa-chevron-left"></i> </p>
                                        <p class="paginacaoCursor center-align" id="afterPagination"> <i class="fas fa-chevron-right"></i> </p>
                                    </div> 
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <div class="row">
                            <div class="col s12">
                                <h3>There are no messages for you</h3>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>

            </div>
            <div class="row" id="openTickets">
<!--Output Tickets-->
                <div class="col s12 center-align">
                        <h3>Your Tickets</h3>
                        <p>
                            Tickets in <span class="red">Red</span> are still unresolved <br>
                            Tickets in <span class="green">Green</span> have been responded to.
                        </p>
                        <div id="ticketWrap">
                            {% for tickets in myTickets %}
           
                            {% if tickets.reply|length == 0 %}
                            <div class="row red border">
                            {% else %}
                            <div class="row green border">
                            {% endif %}
                                <div class="col s5 center-align">
                                    <p>Ticket Opened On: <br>{{ tickets.ticket_opened }}</p>
                                </div>
                                <div class="col s5 offset-s2 center-align">
                                    <p>Ticket Query Type: <br>{{ tickets.query_type }}</p>
                                </div>
                                <div class="col s6 offset-s3 center-align">
                                    <a class="btn modal-trigger" href="#{{ tickets._id }}">View</a>
                                </div>
                                <!-- Modal Structure -->
                                <div id="{{ tickets._id }}" class="modal">
                                    <div class="modal-content">
                                        <h4>Your Ticket:</h4>
                                        <hr class="custom-short-div">
                                        <p>
                                            Type: {{ tickets.query_type|capitalize }}<br>
                                            Opened On: {{ tickets.ticket_opened }}
                                        </p>
                                        <p>Details: {{ tickets.details|capitalize }}</p>
                                        <hr class="custom-short-div">
                                        {% if tickets.reply|length > 0 %}
                                            <h5>Replies:</h5>
                                            <ul>
                                                {% for X in range(tickets.reply|count) %}
                                                    <li><p>{{ tickets.reply[X] }}</p></li>
                                                    <hr>
                                                {% endfor %}
                                            </ul>
                                            
                                        {% else %}
                                            <p>There is no reply yet to this ticket</p>
                                        {% endif %}
                                    </div>
                                    <div class="modal-footer">
                                        <a class="modal-close btn-flat green modal-trigger" href="#edit{{ tickets._id }}">Edit</a>
                                        <a href="#!" class="modal-close btn-flat">Close</a>
                                    </div>
                                </div>
                                <div id="edit{{ tickets._id }}" class="modal">
                                    <div class="modal-content">
                                        <form method="POST" action="{{ url_for('my_profile') }}" class="replyForm">
                                            <input type="text" name="query_id" id="query_id" class="hidden" value="{{ tickets._id }}">
                                            <input type="text" name="querytype" id="querytype" class="hidden" value="{{ tickets.query_type }}">
                                            <input type="text" name="details" id="details" class="hidden" value="{{ tickets.details }}">
                                            <input type="text" name="submit_by" id="submit_by" class="hidden" value="{{ tickets.submit_by }}">
                                            <input type="text" name="user_id" id="user_id" class="hidden" value="{{ tickets.user_id }}">
                                            <input type="text" name="ticket_opened" id="ticket_opened" class="hidden" value="{{ tickets.ticket_opened }}">
                                            <textarea type="text" name="replyTicket" id="replyTicket" rows="5">Add Message Here...</textarea>
                                            <label for="open_ticket">Open / Close Ticket</label>
                                            <select name="open_ticket" id="open_ticket" class="center-align">
                                                <option selected value="1">Leave Ticket Open</option>
                                                <option value="0">Close This Ticket</option>
                                            </select>
                                            <input type="submit" name="submitEdit" id="submitEdit" class="btn-flat green" value="Submit">
                                        </form>
                                        <a class="modal-close btn-flat red modal-trigger" href="#{{ tickets._id }}">Cancel</a>
                                        <div class="modal-footer">
                                            <a href="#!" class="modal-close btn-flat">Close</a>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
{% endif %}
{% endblock %}


{% block scripts %}
    <!--Pagination Script-->
    <script src="{{ url_for('static', filename='js/pagination.js') }}"></script>
{% endblock %}