{% extends "base.html" %}
{% block main_content %}

        
            <div class="row">
                <div class="col s12 m3 offset-m1 light-blue prof-top-card">
                        <img id="prof_pic" src="{{ user.prof_pic }}" alt="Picture of {{ user.username }}">
                </div>
                <div class="col s12 m7 offset-m1 light-blue prof-top-card">
                    <div class="col s10">
                        <h2>{{ user.username|capitalize }}</h2>
                        <p>{{ user.bio }}</p>
                        <p></p>
                    </div>
                    <div class="col s2">
                        <a href="" class="btn right green accent-2 black-text">Edit</a>
                        <a href="" class="btn right red accent-2 black-text">Delete</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m5 offset-m1 light-blue">
                    <h3>My Recipes:</h3>
                    
                        {% for recipe in myrecipes %}
                            {% if (recipe.created_by == session["user"]) and 
                                  (myrecipes != "") %}
                                <ul>
                                    <li>{{ recipe.recipe_name|capitalize }}</li>
                                </ul>
                            {% else %}
                                <h5>There seems to be no recipes created by you</h5>
                            {% endif %}
                        {% endfor %}
                </div>
                <div class="col spacer"></div>
                <div class="col s12 m5 offset-m1 light-blue">
                    <h3>Saved Recipes:</h3>
                    {% for recipe in myrecipes %}
                            {% if recipe.fav_recipes != "" %}
                                <ul>
                                    <li>{{ recipe.fav_recipes|capitalize }}</li>
                                </ul>
                            {% else %}
                                <h5>You don't seem to have any favorite recipes yet!</h5>
                                <p>Maybe check out some more recipes? <a href="{{ url_for('recipes') }}">Browse Recipes</a></p>
                            {% endif %}
                    {% endfor %}
                </div>
            </div>
            <!--Admin Contact-->
            <div class="row">
                <div class="col s12 m5 offset-m1 light-blue center-align">
                    <h3>Help Center</h3>
                    <h6>Open A Ticket And Let Us Know</h6>
                    <div class="row">
                        <form>
                            <div class="input-field col s10 offset-s1">
                                <i class="fas fa-question"></i> 
                                <select id="query-type" name="query-type">
                                    <option value="1">Account Issue</option>
                                    <option value="2">Profile Issue</option>
                                    <option value="3">Recipe Issue</option>
                                    <option value="4">Other Issue</option>
                                </select>
                                <label for="query-type" class="black-text">Query Type</label>
                            </div>
                            <div class="row">
                                <div class="input-field col s10 offset-s1">
                                    <i class="fas fa-info"></i>
                                    <textarea id="textbox" name="textbox" class="materialize-textarea black-text"></textarea>
                                    <label for="textbox" class="black-text">Enter Details Of Issue Here...</label>
                                </div>
                            </div>
                        </form>
                    </div> 
                </div>
                <div class="col s12 m5 offset-m1 light-blue center-align">
                    If possible, a message board here
                </div>
            </div>


    


{% endblock %}