{% extends "base.html" %}
{% block main_content %}

        
            <div class="row">
                <div class="col s12 m3 offset-m1 haze border prof-top-card">
                        <img id="prof_pic" src="{{ user.prof_pic }}" alt="Picture of {{ user.username }}">
                </div>
                <div class="col s12 m7 offset-m1 haze border prof-top-card">
                    <div class="row">
                        <div class="col s12">
                            <a href="#editProfile" class="btn modal-trigger center-align col s4 offset-s1 green accent-2 black-text">Edit Profile</a>
                            <!--modal here-->
                            <div id="editProfile" class="modal">
                                <div class="modal-content">
                                    <form method="POST">
                                        <div class="card-panel haze round-corners">
                                            <div class="col s12 m6 offset-m3 center-align">
                                                <h3>Please Confirm Your Details To Proceed</h3>
                                            </div>
                                            <div class="row">
                                                <div class="input-field col s10 offset-s1">
                                                    <i class="fas fa-user-cog prefix black-text text-lighten-2"></i>
                                                    <input id="username" name="username" type="text" minlength="5" maxlength="20" pattern="^[a-zA-Z0-9]{5,20}$" class="validate" required>
                                                    <label class="black-text" for="username">Username</label>
                                                    <span class="helper-text" data-error="Input incorrect, This Field Only Accepts Numbers & Characters" data-success="Input Correct"></span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="input-field col s10 offset-s1">
                                                    <i class="fas fa-user-lock prefix black-text text-lighten-2"></i>
                                                    <input id="password" name="password" type="password" minlength="5" maxlength="20" pattern="^[a-zA-Z0-9]{5,20}$" class="validate" required>
                                                    <label class="black-text" for="password">Password</label>
                                                    <span class="helper-text" data-error="Input incorrect" data-success="Input Correct"></span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <button type="submit" name="cancel" id="cancel" class="modal-close col s3 offset-s2 btn-large red accent-3 black-text soft-corners">
                                                    Cancel <i class="fas fa-times-circle"></i>
                                                </button>
                                                <button type="submit" name="go" id="go" class="col s3 offset-s2 btn-large green accent-3 black-text soft-corners">
                                                    Edit <i class="fas fa-sign-in-alt"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer center-align">
                                    <p>Please Confirm Login To Proceed</p>
                                </div>
                            </div>



                            <a href="" class="btn center-align red col s4 offset-s2 accent-2 black-text">Delete Profile</a>
                            <!--modal here-->

                        </div>
                    </div>
                    <div class="col s10">
                        <h2>{{ user.username|capitalize }}</h2>
                        <p>Biography: {{ user.bio|capitalize }}</p>
                        <p>Number Of Recipes: {{ numOfRecipes }}</p>
                    </div>
                </div>
            </div>

            <!--Second Row-->
            <div class="row">
                <div class="col s12 m5 offset-m1 haze border" id="myRecipes">
                    <h3 class="center-align">My Recipes:</h3>
                        <div class="col s8">
                            <p>Name:</p>
                        </div>
                        <div class="col s4">
                            <p>View Recipe:</p>
                        </div>
                        {% for recipe in myrecipes %}
                            {% if (recipe.created_by == session["user"]) and (myrecipes != "") %}
                                <div class="col s8">
                                    <p>{{ recipe.recipe_name|capitalize }}</p>
                                </div>
                                <div class="col s4">
                                    <p><a class="btn" href="{{ url_for('selected', id=recipe._id) }}">View More</a></p>
                                </div>                                
                            {% elif myrecipes == "" %}
                                <h5>There seems to be no recipes created by you</h5>
                            {% endif %}
                        {% endfor %}
                </div>
                <div class="col spacer"></div>
<!--Saved Recipe Section-->
                <div class="col s12 m5 offset-m1 haze border" id="savedRecipes">
                    <h3 class="center-align">Saved Recipes:</h3>
                        {% for favorites in user.fav_recipes %}
                        <div class="row border">
                            <div class="col s7 haze">
                                {{ favorites[0]|capitalize }}
                            </div>
                            <div class="col s5 haze">
                                {% set recipeID = favorites[1] %}
                            <a class="btn" href="{{ url_for('selected', id=recipeID) }}">View Recipe</a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

    <!--Admin Contact / Ticketing System-->
            <div class="row">
                <!--Input Ticket-->
                <div class="col s12 m5 offset-m1 haze border center-align">
                    <h3>Help Center</h3>
                    <h6>Open A Ticket And Let Us Know</h6>
                    <div class="row">
                        <form method="POST" action="{{ url_for('my_profile') }}">
                            <div class="input-field col s10 offset-s1">
                                <select id="query-type" name="query-type" required>
                                    <i class="fas fa-question prefix"></i> 
                                    <option value="account">Account Issue</option>
                                    <option value="profile">Profile Issue</option>
                                    <option value="recipe">Recipe Issue</option>
                                    <option value="other">Other Issue</option>
                                </select>
                                <label for="query-type" class="black-text">Query Type</label>
                            </div>
                            <div class="row">
                                <div class="input-field col s10 offset-s1">
                                    <i class="fas fa-info prefix left"></i>
                                    <textarea id="textbox" name="textbox" class="materialize-textarea black-text" required></textarea>
                                    <label for="textbox" class="black-text">Enter Details Of Issue Here...</label>
                                </div>
                                {% for data in user %}
                                <input type="text" class="hidden" name="userName" id="userName" value="{{ user.username }}">
                                <input type="text" class="hidden" name="userID" id="userID" value="{{ user._id }}">
                                {% endfor %}
                            </div>
                            <div class="row">
                                <div class="input-field col s10 offset-s1">
                                    <button type="submit" value="0" name="openTicket" id="openTicket" class="col s12 btn-large green lighten-2">Submit Query</button>
                                </div>
                            </div>
                        </form>
                    </div> 
                
                <!--Output Tickets-->
                    <div class="col s12 center-align">
                        <h3>Your Tickets</h3>
                        <p>
                            Tickets in <span class="red">Red</span> are still unresolved <br>
                            Tickets in <span class="green">Green</span> have been responded to.
                        </p>
                        <div id="ticketWrap">
                            {% for tickets in myTickets %}
           
                            {% if tickets.reply|length == 0 %}
                                <div class="row red border">
                            {% else %}
                                <div class="row green border">
                            {% endif %}
                                    <div class="col s5 center-align">
                                        <p>Ticket Opened On: <br>{{ tickets.ticket_opened }}</p>
                                    </div>
                                    <div class="col s5 offset-s2 center-align">
                                        <p>Ticket Query Type: <br>{{ tickets.query_type }}</p>
                                    </div>
                                    <div class="col s6 offset-s3 center-align">
                                        <a class="btn modal-trigger" href="#{{ tickets._id }}">View</a>
                                    </div>
                                    <!-- Modal Structure -->
                                    <div id="{{ tickets._id }}" class="modal">
                                        <div class="modal-content">
                                            <h4>Your Ticket:</h4>
                                            <hr>
                                            <p>
                                                Type: {{ tickets.query_type }}<br>
                                                Opened On: {{ tickets.ticket_opened }}
                                            </p>
                                            <p>Details: {{ tickets.details }}</p>
                                            <hr>
                                            {% if tickets.reply|length > 0 %}
                                                <p>Reply To Ticket : {{ tickets.reply }}</p>
                                            {% else %}
                                                <p>There is no reply yet to this ticket</p>
                                            {% endif %}
                                        </div>
                                        <div class="modal-footer">
                                            <a class="modal-close btn-flat green modal-trigger" href="#edit{{ tickets._id }}">Edit</a>
                                            <a href="#!" class="modal-close btn-flat">Close</a>
                                        </div>
                                    </div>
                                    <div id="edit{{ tickets._id }}" class="modal">
                                        <form method="POST" action="{{ url_for('my_profile') }}" class="replyForm">
                                            <div class="modal-content">
                                                <input type="text" name="query_id" id="query_id" class="hidden" value="{{ tickets._id }}">
                                                <input type="text" name="querytype" id="querytype" class="hidden" value="{{ tickets.query_type }}">
                                                <input type="text" name="details" id="details" class="hidden" value="{{ tickets.details }}">
                                                <input type="text" name="submit_by" id="submit_by" class="hidden" value="{{ tickets.submit_by }}">
                                                <input type="text" name="user_id" id="user_id" class="hidden" value="{{ tickets.user_id }}">
                                                <input type="text" name="ticket_opened" id="ticket_opened" class="hidden" value="{{ tickets.ticket_opened }}">
                                                <textarea type="text" name="replyTicket" id="replyTicket" rows="5">Add Message Here...</textarea>
                                                <label for="open_ticket">Open / Close Ticket</label>
                                                <select name="open_ticket" id="open_ticket" class="center-align">
                                                    <option selected value="1">Leave Ticket Open</option>
                                                    <option value="0">Close This Ticket</option>
                                                </select>
                                                <div class="modal-footer">
                                                    <button type="submit" name="submitEdit" id="submitEdit" class="btn-flat green">
                                                        Submit
                                                    </button>
                                                    <a class="modal-close btn-flat red modal-trigger" href="#{{ tickets._id }}">Cancel</a>
                                                    <a href="#!" class="modal-close btn-flat">Close</a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <hr>
                                </div>
                            {% endfor %}
                                </div>
                        </div>
                    </div>
<!--User Messages Section-->
                <div class="col s12 m5 offset-m1 haze border">
                    <h3 class="center-align">
                        Messages For You:
                    </h3>
                    <hr class="custom-short-div">

                    <!--Pagination Wrapper-->
                    <div class="row" id="wrapper">
                        <div class="contents col s12">
                            {% for message in messages %}
                            <div class="row">
                                <p class="col s10 offset-s1">
                                    Message From {{ message.message_from }} on {{ message.date }}<br>
                                    <a class="black-text modal-trigger" href="#{{ message.message_text[:30] }}">{{ message.message_text[:50] }}...</a>
                                </p>
                                <div id="{{ message.message_text[:30] }}" class="modal">
                                    <div class="modal-content">
                                        <p>{{ message.message_text }}</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="#!" class="modal-close btn-flat">Close</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    


{% endblock %}

{% block scripts %}
    <!--Pagination Script-->
    <script src="{{ url_for('static', filename='js/pagination.js') }}"></script>
{% endblock %}