{% extends "base.html" %}
{% block main_content %}

    <div class="row">
        <div class="col s12 m6 offset-m3">
            <h1 class="center-align pink-text text-lighten-2 border round-border">Browse Recipes</h1>
        </div>
    </div>

    <div class="row">
        <a href="{{ url_for('starter') }}">
            <div class="col s12 m6 center-align category-card center-align border">
                        <img src="{{ url_for('static', filename='img/starter.jpg') }}">
                    <div class="card-content">
                        <h3 class="card-title">Starters</h3>
                        <p>
                            <i class="far fa-eye"></i> Browse our starters
                        </p>
                    </div>
            </div>
        </a>
        <a href="{{ url_for('main') }}">
            <div class="col s12 m6 center-align category-card center-align border">
                        <img src="{{ url_for('static', filename='img/main.jpg') }}">
                    <div class="card-content">
                        <h3 class="card-title">Mains</h3>
                        <p>
                            <i class="far fa-eye"></i> Browse our mains
                        </p>
                    </div>
            </div>
        </a>
        <a href="{{ url_for('dessert') }}">
            <div class="col s12 m6 center-align category-card center-align border">
                        <img src="{{ url_for('static', filename='img/dessert.jpg') }}">
                    <div class="card-content">
                        <h3 class="card-title">Desserts</h3>
                        <p>
                            <i class="far fa-eye"></i> Browse our desserts
                        </p>
                    </div>
            </div>
        </a>
        <a href="{{ url_for('drink') }}">
            <div class="col s12 m6 center-align category-card center-align border">
                        <img src="{{ url_for('static', filename='img/drink.jpg') }}"> 
                    <div class="card-content">
                        <h3 class="card-title">Drinks</h3>
                        <p>
                            <i class="far fa-eye"></i> Browse our drinks
                        </p>
                    </div>
            </div>
        </a>
    </div>


{% endblock %}