{% extends "base.html" %}
{% block main_content %}

    <div class="row">
        <div class="col s12 m6 offset-m3">
            <h1 class="center-align black-text text-lighten-2">Browse Recipes</h1>
        </div>
    </div>

    <!--Cards-->
    <div class="row">
        <div class="col s12 m6 center-align outer-box">
            <div class="card-content">
                <div class="card-image">
                    <img src="{{ url_for('static', filename='img/starter.jpg') }}" alt="Starter Recipes">
                </div>
                <div class="card-contents">
                    <a href="{{ url_for('starter') }}" class="card-content">
                        <button class="btn-large col s6 offset-s3">Starters</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col s12 m6 center-align outer-box">
            <div class="card-content">
                <div class="card-image">
                    <img src="{{ url_for('static', filename='img/main.jpg') }}" alt="Main Course Recipes">
                </div>
                <a href="{{ url_for('main') }}" class="card-content">
                    <div class="card-contents">
                        <button class="btn-large col s6 offset-s3">Mains</button>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6 center-align outer-box">
            <div class="card-content">
                <div class="card-image">
                    <img src="{{ url_for('static', filename='img/dessert.jpg') }}" alt="Dessert Recipes">
                </div>
                <div class="card-contents">
                    <a href="{{ url_for('dessert') }}" class="card-content">
                        <button class="btn-large col s6 offset-s3">Desserts</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col s12 m6 center-align outer-box">
            <div class="card-content">
                <div class="card-image">
                    <img src="{{ url_for('static', filename='img/drink.jpg') }}" alt="Drink Recipes">
                </div>
                <div class="card-contents">
                    <a href="{{ url_for('drink') }}" class="card-content">
                        <button class="btn-large col s6 offset-s3">Drinks</button>
                    </a>
                </div>
            </div>
        </div>
    </div>


{% endblock %}