{% extends "base.html" %}
{% block main_content %}
    <div class="row">
        <div class="col s12 m6 offset-m3 haze border center-align">
            <h1 class="text-shadow">Search For Recipes</h1>
            <hr>
        </div>
    </div>
<!--Card to hold the search form-->
    <div class="row center-align" id="searchBox">
        <div class="col s12 m8 offset-m2 center-align haze border soft-corners">
                    <p>
                        <em>To search for a recipe, you can look for keywords, such as "Chicken"</em> 
                    </p>
                    <form action="{{ url_for('search') }}" method="POST">
                        <div class="input-field col s10 offset-s1">
                            <i class="far fa-question-circle prefix black-text text-lighten-2"></i>
                            <input id="search" name="search" type="text" minlength="1" maxlength="100" class="validate" required>
                            <label class="black-text" for="search">
                                Search For ...</label>
                            <span class="helper-text" data-error="Input incorrect, This Field Only Accepts Numbers & Characters" data-success="Input Correct"></span>
                        </div>
                        <div class="row">
                            <button type="submit" id="searchRecipe" value="0" class="col s8 offset-s2 btn-large black-text text-shadow">
                                <i class="fas fa-search prefix"></i> Search
                            </button>
                        </div>
                    </form>
                <div class="col s12 card-action" id="suggestion">
                    <p>Don't want to search? You can also browse all recipes:</p>
                    <a href="{{ url_for('recipes') }}"><strong class="black-text text-shadow">Browse Recipes</strong></a>
                </div>
        </div>
    </div>
    
    <!--Results Display-->
    {% if find %}
    <h4 class="center-align" id="searchTitle">Matching results for the term "{{ search }}"...</h4>
    {% endif %}
    <div class="row" id="wrapper">
        <div class="contents col s12">
            <ul class="paginationTable">
            {% for results in find %}
                <li class="tableItem">
                    <div class="col s12 m4 haze search-results border">
                        <div class="col s12 center-align searchImage">
                            <img src="{{results.pic_url}}" alt="Recipe Image">
                        </div>
                        <div class="col s12 center-align">
                            <h3><strong>{{ results.recipe_name|capitalize }}</strong></h3>
                        </div>
                        <div class="col s12 detailsView">
                            <ul class="collapsible see-through">
                                <li>
                                    <p class="center-align"><em>Click to expand</em></p>
                                    <div class="collapsible-header see-through">{{ results.description[:50]|capitalize }}...</div>
                                    <div class="collapsible-body"><span>{{ results.description|capitalize }}</span></div>
                                </li>
                            </ul>
                        </div>
                        <div class="col s12">
                            <p>
                                <a href="#{{results._id}}" class="btn modal-trigger width100 center-align">Preview</a>
                                <a href="{{ url_for('selected', id=results._id) }}" class="btn width100 center-align">Full</a>
                            </p>
                        </div>
                    </div>
                    <!-- Modal Structure -->
                    <div id="{{results._id}}" class="modal">
                        <div class="modal-content">
                            <h3 class="center-align">{{ results.recipe_name|capitalize }}</h3>
                            <p class="center-align">{{ results.description|capitalize }}</p>
                            <hr class="custom-short-div center-align">
                            <div class="col m5 s12 center-align">
                                <img class="modalRecipeImage" src="{{results.pic_url}}" alt="recipe picture">
                            </div>
                            <div class="col m7 s12 center-align">
                                <div class="col m3 s6 center-align">
                                    <p><strong>KCAL</strong><br>{{ results.kcal }}</p>
                                </div>
                                <div class="col m3 s6 center-align">
                                    <p><strong>Fat</strong><br>{{ results.fat }}g</p>
                                </div>
                                <div class="col m3 s6 center-align">
                                    <p><strong>Saturates</strong><br>{{ results.saturates }}g</p>
                                </div>
                                <div class="col m3 s6 center-align">
                                    <p><strong>Carbs</strong><br>{{ results.carbs }}g</p>
                                </div>
                                <div class="col m3 s6 center-align">
                                    <p><strong>Sugars</strong><br>{{ results.sugars }}g</p>
                                </div>
                                <div class="col m3 s6 center-align">
                                    <p><strong>Fibre</strong><br>{{ results.fibre }}g</p>
                                </div>
                                <div class="col m3 s6 center-align">
                                    <p><strong>Protein</strong><br>{{ results.protein }}g</p>
                                </div>
                                <div class="col m3 s6 center-align">
                                    <p><strong>Salt</strong><br>{{ results.salt }}g</p>
                                </div>
                                <div class="col s10 offset-s1 center-align">
                                    <p>Prep Time : {{results.prep_time}} Minutes</p>
                                    {%if results.cooking_time|int > 0%}
                                    <p>Cook Time : {{results.cooking_time}} Minutes</p>
                                    {%endif%}
                                </div>
                                <div class="row modalFooter">
                                    <a href="{{ url_for('selected', id=results._id) }}" class="btn-large col s6">View More</a>
                                    <a href="#" class="btn-large red modal-close col s5 offset-s1">Close</a> 
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}
            </ul>
            <div class="col s12 center-align">
                <div id="pagination-container">
                    <p class="paginacaoCursor center-align" id="beforePagination"> <i class="fas fa-chevron-left"></i> </p>
                    <p class="paginacaoCursor center-align" id="afterPagination"> <i class="fas fa-chevron-right"></i> </p>
                </div> 
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <!--Pagination Script-->
    <script src="{{ url_for('static', filename='js/pagination.js') }}"></script>
{% endblock %}