{% extends "base.html" %}
{% block main_content %}

<!--Card to hold the search form-->
    <div class="row center-align">
        <div class="col s12 m6 offset-m3 center">
            <div class="card light-blue lighten-4 center-align">
                <div class="card-content black-text">
                    <p>
                        <em>To search for a recipe, you can look for keywords, such as "Chicken"</em> 
                    </p>
                    <form>
                        <div class="input-field col s10 offset-s1">
                            <i class="far fa-question-circle prefix black-text text-lighten-2"></i>
                            <input id="search" name="search" type="text" minlength="1" maxlength="100" class="validate" required>
                            <label class="black-text" for="search">Search For ...</label>
                            <span class="helper-text" data-error="Input incorrect, This Field Only Accepts Numbers & Characters" data-success="Input Correct"></span>
                        </div>
                        <div class="row">
                            <button type="submit" class="col s8 offset-s2 btn-large green accent-3 black-text text-shadow">
                                Search <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="card-action">
                    <p>Don't want to search? You can also browse all recipes, or browse by category:</p>
                    <a href="{{ url_for('recipes') }}"><strong class="black-text text-shadow">Browse Recipes</strong></a>
                    <a href="{{ url_for('search') }}"><strong class="black-text text-shadow">Search For Recipe</strong></a>
                </div>
            </div>
        </div>
    </div>


{% endblock %}