{% extends "base.html" %}
{% block main_content %}

    <div class="row">
        <div class="col s12 m6 offset-m3">
            <h1 class="center-align border haze soft-corners">Sign Up</h1>
        </div>
    </div>

    <!--Redirect user attention if they somehow end on this page when still signed in-->
    {% if session["user"] %}
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <h4 class="center-align black-text border haze soft-corners">
                Whoops! It looks like you are already signed in as {{ session["user"]|capitalize }}
            </h4>
        </div>
    </div>

    {% else %}
    
<!--Card to hold the signup form-->
    <div class="row">
        <form class="col s12 m8 offset-m2 round" method="POST" action="{{ url_for('signup') }}">
            <div class="card-panel haze border round-corners">
                <div id="startSignup" class="center-align">
                    <h2>You Will Begin The <br>Signup Process For Ripe</h2>
                    <p>Please Complete All Sections Of The Signup Process To Create An Account</p>
                    <button class="btn" id="showUser">Start</button>
                </div>
                <!--Username-->
                <div id="userCard">
                    <div class="row center-align">
                        <h3>Requested Username:</h3>
                        <p>Please Enter Your Requested Username, <br>This Username Must Be Between 5 and 25 Characters Long </p>
                        <div class="input-field col s10 offset-s1">
                            <i class="fas fa-user-plus prefix pink-text text-lighten-2"></i>
                            <input id="username" name="username" type="text" minlength="5" maxlength="25" pattern="^[a-zA-Z0-9]{5,25}$" class="validate" required>
                            <label class="black-text" for="username">Requested Username</label>
                            <span class="helper-text" data-error="Input incorrect, This Field Only Accepts Numbers & Characters" data-success="Input Correct"></span>
                        </div>
                        <div class="col s12 m6 center-align">
                            <button class="btn" disabled>Previous</button>
                        </div>
                        <div class="col s12 m6 center-align">
                            <button class="btn" id="showEmail">Next</button>
                        </div>
                    </div>
                </div>
                <!--Email-->
                <div id="emailCard">
                    <div class="row center-align">
                        <h3>Email Address:</h3>
                        <p>Please Enter A Valid Email Address</p>
                        <div class="input-field col s10 offset-s1">
                            <i class="fas fa-at prefix pink-text text-lighten-2"></i>
                            <input id="email" name="email" type="email" minlength="5" maxlength="100" class="validate" required>
                            <label class="black-text" for="email">Email Address</label>
                            <span class="helper-text" data-error="Input incorrect, Please Enter A Valid Email" data-success="Input Correct"></span>
                        </div>
                        <div class="col s12 m6 center-align">
                            <button class="btn" id="prevUsername">Previous</button>
                        </div>
                        <div class="col s12 m6 center-align">
                            <button class="btn" id="showFood">Next</button>
                        </div>
                    </div>
                </div>
                
                <!--Favorite Food-->
                <div id="foodCard">
                    <div class="row center-align">
                        <h3>Please Enter Your Favorite Food</h3>
                        <p>This Will Be Used To Suggest Recipes & Products For You <br>And Provide More Relivant Adverts</p>
                        <div class="input-field col s10 offset-s1">
                            <i class="fas fa-utensils prefix pink-text text-lighten-2"></i>
                            <input id="fav_food" name="fav_food" type="text" minlength="5" maxlength="20" pattern="^[a-zA-Z0-9]{5,20}$" class="validate" required>
                            <label class="black-text" for="fav_food">Favorite Food</label>
                            <span class="helper-text" data-error="Input incorrect, This Field Only Accepts Numbers & Characters" data-success="Input Correct"></span>
                        </div>
                        <div class="col s12 m6 center-align">
                            <button class="btn" id="prevEmail">Previous</button>
                        </div>
                        <div class="col s12 m6 center-align">
                            <button class="btn" id="showProfPic">Next</button>
                        </div>
                    </div>
                </div>
                
                <!--Profile Pic-->
                <div id="profPic">
                    <div class="row">
                        <div class="input-field col s10 offset-s1">
                            <i class="fas fa-users prefix pink-text text-lighten-2"></i>
                            <input id="prof_pic" name="prof_pic" minlength="5" type="text" class="validate">
                            <label class="black-text" for="prof_pic">Profile Picture URL (optional)</label>
                            <span class="helper-text" data-error="Input incorrect, Please Supply A URL Of A Profile Picture." data-success="Input Correct">Images Should Be No More Than 400px Wide.</span>
                        </div>
                    </div>
                </div>
                
                <!--Biography-->
                <div id="profBio">
                    <div class="row">
                        <div class="input-field col s10 offset-s1">
                            <i class="fas fa-address-book prefix pink-text text-lighten-2"></i>
                            <textarea id="bio" name="bio" minlength="5" class="materialize-textarea" required></textarea>
                            <label class="black-text" for="bio">Profile Biography:</label>
                            <span class="helper-text" data-error="Input incorrect, This Field Only Accepts Numbers & Characters" data-success="Input Correct"></span>
                        </div>
                    </div>
                </div>
                
                <!--Password-->
                <div id="profPass">
                    <div class="row">
                        <div class="input-field col s10 offset-s1">
                            <i class="fas fa-user-lock prefix pink-text text-lighten-2"></i>
                            <input id="password" name="password" type="password" minlength="5" maxlength="20" pattern="^[a-zA-Z0-9]{5,20}$" class="validate" required>
                            <label class="black-text" for="password">Password (min 5 characters) </label>
                            <span class="helper-text" data-error="Input incorrect" data-success="Input Correct"></span>
                        </div>
                    </div>
                    <div class="row">
                        <button type="submit" class="col s8 offset-s2 btn-large green accent-3 black-text text-shadow">
                            Register <i class="fas fa-sign-in-alt"></i>
                        </button>
                    </div>
                </div>
                <!--End Cards-->
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col s6 offset-s3 border round-border">
            <h5 class="center-align">
                Already A Member? <a href="{{ url_for('login') }}" class="light-blue-text text-darken-4">Log in Here</a>
            </h5>
        </div>
    </div>
    {% endif %}

{% endblock %}
{% block scripts %}
    <!--Add Recipe Script-->
    <script src="{{ url_for('static', filename='js/signup.js') }}"></script>
{% endblock %}