{% extends "base.html" %}
{% block main_content %}


    <div class="row">
        <div class="col s12 m6 offset-m3 center-align">
            <h1 class="center-align black-text text-lighten-2 border haze">Starter Recipes:</h1>
            <p>Click any row to see a photo of the recipe. <br>Or click view more to view the full recipe.</p>
            <hr class="custom-short-div">
        </div>
    </div>
    <div class="row" id="wrapper">
        <div class="contents">
            <!--Populate the contents-->
            {% for starters in starter %}
            <div class="flip-card col s6 m4">
                <div class="flip-card-inner col s12">
                    <div class="flip-card-front col s12">
                        <img src="{{starters.pic_url}}" id="previewRecipePic" alt="Recipe Photo">
                    </div>
                    <div class="flip-card-back col s12">
                        <div class="col s12 center-align haze border">
                            <div class="col s12 center-align seeMore">
                                <!-- Modal Trigger -->
                                <a class="btn modal-trigger" href="#{{ starters._id }}">View More</a>
                            </div>
                            <!-- Modal Structure -->
                            <div id="{{ starters._id }}" class="modal">
                                <div class="modal-content">
                                    <h4>{{ starters.recipe_name|capitalize }}</h4>
                                    <hr class="custom-short-div">
                                    <p>{{ starters.description|capitalize }}</p>
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>KCAL</th>
                                                <th>Fat</th>
                                                <th>Saturates</th>
                                                <th>Carbs</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>{{ starters.kcal }}</td>
                                                <td>{{ starters.fat }}</td>
                                                <td>{{ starters.saturates }}</td>
                                                <td>{{ starters.carbs }}</td>
                                            </tr>
                                            <tr>
                                                <th>Sugars</th>
                                                <th>Fibre</th>
                                                <th>Protein</th>
                                                <th>Salt</th>
                                            </tr>
                                            <tr>
                                                <td>{{ starters.sugars }}</td>
                                                <td>{{ starters.fibre }}</td>
                                                <td>{{ starters.protein }}</td>
                                                <td>{{ starters.salt }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="overflowHidden">
                                        <img src="{{starters.pic_url}}" alt="Recipe Picture">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    {% set id = starters.id %}
                                    <a href="{{ url_for('selected', name=starters.recipe_name, id=starters._id) }}" class="col s7 green lighten-2 btn-flat">View Full Recipe</a>
                                    <a href="#!" class="col s5 modal-close red lighten-3 btn-flat">Close</a>
                                </div>
                            </div>
                            <!--Materialize-->
                            <ul class="collapsible see-through">
                                <li>
                                    <div class="collapsible-header see-through">
                                        <div class="col s12 center-align">
                                            <div class="col s12">
                                                <h3>{{ starters.recipe_name|capitalize }}</h3>
                                                <hr class="custom-short-div">
                                            </div>
                                            <div class="col s12">
                                                <p>{{ starters.description[:70]|capitalize }}...</p>
                                            </div>
                                            <div class="col s12">
                                                <p>Difficulty: {{ starters.difficulty|capitalize }}</p>
                                            </div>
                                            <div class="col s12">
                                                <p>Tags: {{ starters.tags[:30]|capitalize }}...</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="collapsible-body center-align">
                                        <!--<img src="{{starters.pic_url}}" id="previewRecipePic" alt="Recipe Photo">-->
                                    </div>
                                </li>
                            </ul>
                    
                        </div>
                    </div> 
                </div>
            </div>
            {% endfor %}
        </div> 
    </div>
    <div class="row">
        <div class="col s10 offset-s1 center-align">
            <a class="btn" href="{{ url_for('recipes') }}">Back to the categories?</a>
        </div>
    </div>



{% endblock %}
    
{% block scripts %}
    <!--Pagination Script-->
    <script src="{{ url_for('static', filename='js/pagination.js') }}"></script>
{% endblock %}