{% extends "base.html" %}
{% block main_content %}


            <div class="row">
                <div class="col s12 m6 offset-m3">
                    <h1 class="center-align border soft-corners">Store</h1>
                </div>
            </div>
            <div class="row">
                <h3 class="center-align">Featured Products:</h3>
                <div class="carousel col s12" id="storeCarousel">
                    {% for X in products %}
                    <div class="carousel-item col s6 center-align">
                        <h6 class="col s12">{{X.name}}</h6>
                        <img src="{{X.photos[0]}}" class="col s12">
                        <p class="col s12">{{ X.about[0][:75] }}...</p>
                        <em class="col s12">${{ X.price}}</em>
                    </div>
                    {% endfor %}
                </div>
            </div>
            
            <div class="row">
                <h3 class="center-align">Browse All Products:</h3>
                <div class="col l3 m4 s10 offset-s1 spacer">
                    <div class="s10 product-card center-align round-border">
                        <div class="product-card-info">
                            <h6 class="s12">Test</h6>
                            <em class="s12">image</em>
                            <p class="s12">Description</p>
                            <em class="s12">€19.99</em>
                        </div>
                    </div>
                </div>
                <div class="col l3 m4 s10 offset-s1 spacer">
                    <div class="s10 product-card center-align round-border">
                        <div class="product-card-info">
                            <h6 class="s12">Test</h6>
                            <em class="s12">image</em>
                            <p class="s12">Description</p>
                            <em class="s12">€19.99</em>
                        </div>
                    </div>
                </div>
                <div class="col l3 m4 s10 offset-s1 spacer">
                    <div class="s10 product-card center-align round-border">
                        <div class="product-card-info">
                            <h6 class="s12">Test</h6>
                            <em class="s12">image</em>
                            <p class="s12">Description</p>
                            <em class="s12">€19.99</em>
                        </div>
                    </div>
                </div>
                <div class="col l3 m4 s10 offset-s1 spacer">
                    <div class="s10 product-card center-align round-border">
                        <div class="product-card-info">
                            <h6 class="s12">Test</h6>
                            <em class="s12">image</em>
                            <p class="s12">Description</p>
                            <em class="s12">€19.99</em>
                        </div>
                    </div>
                </div>
                <div class="col l3 m4 s10 offset-s1 spacer">
                    <div class="s10 product-card center-align round-border">
                        <div class="product-card-info">
                            <h6 class="s12">Test</h6>
                            <em class="s12">image</em>
                            <p class="s12">Description</p>
                            <em class="s12">€19.99</em>
                        </div>
                    </div>
                </div>
                <div class="col l3 m4 s10 offset-s1 spacer">
                    <div class="s10 product-card center-align round-border">
                        <div class="product-card-info">
                            <h6 class="s12">Test</h6>
                            <em class="s12">image</em>
                            <p class="s12">Description</p>
                            <em class="s12">€19.99</em>
                        </div>
                    </div>
                </div>
                <div class="col l3 m4 s10 offset-s1 spacer">
                    <div class="s10 product-card center-align round-border">
                        <div class="product-card-info">
                            <h6 class="s12">Test</h6>
                            <em class="s12">image</em>
                            <p class="s12">Description</p>
                            <em class="s12">€19.99</em>
                        </div>
                    </div>
                </div>
                <div class="col l3 m4 s10 offset-s1 spacer">
                    <div class="s10 product-card center-align round-border">
                        <div class="product-card-info">
                            <h6 class="s12">Test</h6>
                            <em class="s12">image</em>
                            <p class="s12">Description</p>
                            <em class="s12">€19.99</em>
                        </div>
                    </div>
                </div>
            </div> 

        <!--Basket-->
        <div class="col s12 m6 offset-3 blue soft-corners center-align">
            <h5>Finished Shopping?</h5>
            <p>View Your Cart -placeholder for cart link-</p>
        </div>


{% endblock %}