{% extends "base.html" %}
{% block main_content %}

    <div class="row">
        <div class="col s12 m6 offset-m3">
            <h1 class="center-align black-text text-lighten-2 border round-border">{{ user|capitalize }}'s Profile:</h1>
        </div>
    </div>
        {% for x in userDB %}
            <div class="row">
                <div class="col s12 m3 offset-m1 light-blue prof-top-card">
                        <img id="prof_pic" src="{{ x.prof_pic }}" alt="Picture of {{ x.username }}">
                </div>
                <div class="col s12 m7 offset-m1 light-blue prof-top-card">
                    <div class="col s10">
                        <h2>{{ x.username|capitalize }}</h2>
                        <p>{{ x.bio }}</p>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m5 offset-m1 light-blue">
                    <h3>{{ user|capitalize }}'s Recipes:</h3>
                        {% for x in recipes %}
                            {% if x.recipe_name != "" %}
                                <ul>
                                    <li>
                                        <form  method="POST" action="{{ url_for('selected', name=x.recipe_name) }}">
                                            <h5>{{ x.recipe_name|capitalize }}</h5>
                                            <input class="hidden" name="name" id="name" value="{{ x.recipe_name }}">
                                            <button type="submit" value="{{ x.recipe_name }}" class="col s12 btn green accent-3 black-text soft-corners">
                                                    View Recipe
                                            </button>
                                        </form>
                                    </li>
                                </ul>
                            {% else %}
                                <h5>This User Does Not Yet Have Any Recipes Available.</h5>
                            {% endif %}
                        {% endfor %}
                </div>
                <div class="col spacer"></div>
                <div class="col s12 m5 offset-m1 light-blue">
                    <h3>{{ user|capitalize }}'s Favorites:</h3>
                    
                </div>
            </div>
            <!--Social Wall-->
            <div class="row">
                <div class="col s10 offset-s1 light-blue lighten-3 center-align">
                    <h3>Leave a message on this users chopping board:</h3>
                    <form>
                        <input type="textbox">
                        <input type="submit" value="Submit" method="post">
                    </form>
                </div>
            </div>
        {% endfor %}

    


{% endblock %}