{% extends "base.html" %}
{% block main_content %}

        <h1>Successful Route</h1>
        {% for x in userDB %}
            <div class="row">
                <div class="col s12 m3 offset-m1 light-blue prof-top-card">
                        <img id="prof_pic" src="{{ x.prof_pic }}" alt="Picture of {{ x.username }}">
                </div>
                <div class="col s12 m7 offset-m1 light-blue prof-top-card">
                    <div class="col s10">
                        <h2>{{ x.username|capitalize }}</h2>
                        <p>{{ x.bio }}</p>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m5 offset-m1 light-blue">
                    <h3>{{ user|capitalize }}'s Recipes:</h3>
                        {% for x in recipes %}
                            {% if (x.created_by == user) and 
                                  (recipes != "") %}
                                <ul>
                                    <li>{{ recipe.recipe_name|capitalize }}</li>
                                </ul>
                            {% else %}
                                <h5>This User Does Not Yet Have Any Recipes Available.</h5>
                            {% endif %}
                        {% endfor %}
                </div>
                <div class="col spacer"></div>
                <div class="col s12 m5 offset-m1 light-blue">
                    <h3>{{ user|capitalize }}'s Favorites:</h3>
                    
                </div>
            </div>
            <!--Social Wall-->
            <div class="row">
                <div class="col s10 offset-s1 light-blue lighten-3 center-align">
                    <h3>The Wall</h3>
                </div>
            </div>
        {% endfor %}

    


{% endblock %}