{% extends "base.html" %}
{% block main_content %}


    {% for x in userDB %}
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <h1 class="center-align black-text border haze border">{{ x.username|capitalize }}'s Profile:</h1>
        </div>
    </div>
            <div class="row">
                <div class="col s12 m3 offset-m1 haze border prof-top-card">
                        <img id="prof_pic" src="{{ x.prof_pic }}" alt="Picture of {{ x.username }}">
                </div>
                <div class="col s12 m7 offset-m1 haze border prof-top-card">
                    <div class="col s10">
                        <h2>{{ x.username|capitalize }}</h2>
                        <p>{{ x.bio }}</p>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m5 offset-m1 haze border center-align">
                    <h3>{{ user|capitalize }}'s Recipes:</h3>
                        {% for x in recipes %}
                            {% if x.recipe_name != "" %}
                                <ul>
                                    <li>
                                        <a class="btn modal-trigger" href="#{{ x.recipe_name }}">{{ x.recipe_name|capitalize }}</a>
                                    </li>
                                </ul>
                                <div id="{{ x.recipe_name }}" class="modal">
                                    <div class="modal-content center-align">
                                        <h4>{{ x.recipe_name|capitalize }}</h4>
                                        <hr>
                                        <p><img src="{{ x.pic_url }}" alt="{{ x.recipe_name|capitalize }}"></p>
                                        <p>{{ x.description|capitalize }}</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="modal-close red btn-flat">Close</button>
                                        <a href="{{ url_for('selected', id=x._id) }}" class="modal-close green btn-flat">View Full Recipe</a>
                                    </div>
                                </div>
                            {% else %}
                                <h5>This User Does Not Yet Have Any Recipes Available.</h5>
                            {% endif %}
                        {% endfor %}
                </div>
                <div class="col spacer"></div>
                <div class="col s12 m5 offset-m1 haze border">
                    <h3>{{ user|capitalize }}'s Favorites:</h3>
                    <div class="row">                    
                        {% for list in x.fav_recipes %}
                        <div class="col s7">
                            <p>{{ list[0] }}</p>
                        </div>
                        <div class="col s5">
                            {% set recipeID = list[1] %}
                            <a class="btn" href="{{ url_for('selected', id=recipeID) }}">View Recipe</a>
                        </div>
                        {% endfor %}
                    </div>
                        <div class="col s12">
                            
                                
                            
                        </div>
                </div>
            </div>

            <!--Social Wall-->
            <div class="row">
                <div class="col s10 offset-s1 haze border center-align">
                    <h3>Leave a message on this users chopping board:</h3>
                    {% if session["user"] %}
                    <div class="row">
                        <div class="col s10 offset-s1 haze border">
                            <form method="POST">
                                <!--Initial Bug But Fixed By Forcing Inputs To These Fields-->
                                <input class="hidden" type="text" name="from" id="from" value="{{ session['user'] }}">
                                <input class="hidden" name="user" id="user" value="{{ user }}">
                                <!--Data For Database-->
                                <input type="text" name="message" id="message" minlength="1" maxlength="250" placeholder="Enter Your Message for {{ user|capitalize }}" class="input-field col s8 offset-s2" required>
                                <button type="submit" class="col s6 offset-s3 btn green" name="newMessage" id="newMessage">
                                    Send
                                </button>
                            </form>
                            {% elif not session["user"] %}
                                <h5>Please Log In To Leave A Message - <a href="{{ url_for('login') }}">Login</a></h5>
                            {% endif %}
                        </div>
                    </div>
                    <!--Start Messages-->
                    <div class="col s12 message-board">
                        <div class="col s10 offset-s1 haze border">
                            <h3>Messages For {{ user|capitalize }}</h3>
                            {% for message in messages %}
                            <div class="row haze border">
                                <div class="col s6 center-align">
                                    From: {{ message.message_from }}
                                </div>
                                <div class="col s6 center-align">
                                    Sent On: {{ message.date }}
                                </div>
                                <div class="col s12">
                                    <p>{{ message.message_text[:50] }}...</p>
                                    <a class="btn col s5 modal-trigger" href="#{{ message._id }}">View Message</a>
                                    {% if message.message_for == session["user"] %}
                                    <form method="post">
                                        <input type="text" name="messageID" id="messageID" class="hidden" value="{{ message._id }}">
                                        <button type="submit" value="0" id="delete" name="delete" class="btn col s5 offset-s2">Delete</button>
                                    </form>
                                    {% endif %}
                                    <!-- Modal Structure -->
                                    <div id="{{ message._id }}" class="modal">
                                        <div class="modal-content">
                                            <h4>Message:</h4>
                                            <p>Sent From: {{ message.message_from }} on {{ message.date }}</p>
                                            <p>{{ message.message_text }}</p>
                                        </div>
                                        <div class="modal-footer">
                                            <a href="#!" class="modal-close btn-flat">Close</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

{% endblock %}